openapi: 3.1.0
info:
  title: Gennety Public API (mobile surface)
  version: 1.0.0
  description: |
    Contract for the native mobile client (Gennety-iOS). Covers the JWT-authed
    `/v1/*` surface the MVP client consumes. Source of truth for shapes is the
    route code in `apps/bot/src/public/` — this spec MUST be updated in the
    same commit as any change to those routes (see AGENTS.md documentation
    impact check). The Swift client is generated from this file
    (`swift-openapi-generator` in the Gennety-iOS repo).

    Endpoints authed with Telegram `initData` HMAC (calendar, tickets,
    feedback, telegram-onboarding) are intentionally NOT here — they are Mini
    App-only. Mobile variants will be added as they are built.

    `/v1/venue-change/*` used to be in that list. Since 2026-09-12 the board
    takes EITHER rail — `tma <initData>` or a JWT bearer — so the seven
    endpoints the native client needs are specified here. The three that stay
    out are Telegram-shaped rather than unbuilt: `stars-invoice` mints a
    Telegram Stars invoice link (iOS pays through StoreKit instead, see
    `/v1/venue-change/appstore/transaction`), `pay-decline` is the twin of an
    inline chat button, and `photo` takes initData in its query because an
    `<img>` sends no headers — the native client is served signed `photoUrl` /
    `thumbnailUrl` links on the board payloads instead.

    `/v1/radar/*` (Type Radar) joined them on 2026-09-14: the same routes the
    Mini App calls take either rail, so one deck, one chip set and one
    preference vector serve both clients. The only rail-dependent behaviour is
    the Telegram chat continuation after a submit, which runs for `tma` only.
  contact:
    name: Gennety Dating

servers:
  - url: https://dating-api.gennety.com
    description: Production

tags:
  - name: system
  - name: auth
  - name: me
  - name: onboarding
  - name: chat
  - name: inbox
  - name: matches
  - name: countdown
  - name: music
    description: >-
      Spotify tracks pinned to a profile, catalogue search, and the one-time
      top-tracks import. Display-only — never a matching or AI input.
  - name: radar
    description: >-
      Type Radar: a short visual calibration of appearance preference over a
      deck of prepared portraits (never real users). Feeds the soft `V_type`
      matching multiplier; nobody else ever sees the answers.

security:
  - bearerAuth: []

paths:
  /v1/ping:
    get:
      tags: [system]
      operationId: ping
      summary: Liveness probe
      security: []
      responses:
        "200":
          description: Server is alive
          content:
            application/json:
              schema:
                type: object
                required: [ok, now]
                properties:
                  ok: { type: boolean, const: true }
                  now: { type: string, format: date-time }

  /v1/app/config:
    get:
      tags: [system]
      operationId: getAppConfig
      summary: Pre-auth mobile bootstrap — forced-update kill switch + feature flags
      description: |
        Unauthenticated by design: the client must learn "update required"
        before it can log in. `minSupportedIosVersion` null → no forced update.
      security: []
      responses:
        "200":
          description: Client bootstrap payload
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AppConfig" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/auth/otp/request:
    post:
      tags: [auth]
      operationId: requestEmailOtp
      summary: Send a one-time code to a university email (student track)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: OTP sent
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: Email provider failure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/auth/otp/verify:
    post:
      tags: [auth]
      operationId: verifyEmailOtp
      summary: Verify the emailed code and mint tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, otp]
              properties:
                email: { type: string, format: email }
                otp:
                  type: string
                  pattern: "^\\d{4,8}$"
      responses:
        "200":
          description: Tokens + serialized user
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthTokens" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: Code mismatch
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/auth/phone/request:
    post:
      tags: [auth]
      operationId: requestPhoneCode
      summary: Send a verification code to a phone (general track)
      description: |
        Provider fork is server-side — Twilio SMS by default
        (`PHONE_CODE_PRIMARY_PROVIDER`), Telegram Gateway as an optional
        secondary rail; `channel: "sms"` always forces Twilio. The client
        only reads `deliveredVia` for the status line. 404 while
        `PHONE_AUTH_ENABLED` is off.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone:
                  type: string
                  description: E.164 (lenient — spaces/dashes tolerated, `+` optional)
                channel:
                  type: string
                  enum: [sms]
                  description: Force the SMS rail, skipping Telegram Gateway
      responses:
        "200":
          description: Code sent
          content:
            application/json:
              schema:
                type: object
                required: [ok, deliveredVia, expiresAt, resendAvailableAt]
                properties:
                  ok: { type: boolean, const: true }
                  deliveredVia:
                    type: string
                    enum: [telegram, sms]
                  expiresAt: { type: string, format: date-time }
                  resendAvailableAt: { type: string, format: date-time }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: Phone rail disabled (`PHONE_AUTH_ENABLED` off)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          description: Cooldown (carries `resendAvailableAt`), daily cap, or rate limit
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: No delivery rail available
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/auth/phone/verify:
    post:
      tags: [auth]
      operationId: verifyPhoneCode
      summary: Verify the phone code and mint tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone: { type: string }
                code:
                  type: string
                  pattern: "^\\d{4,8}$"
      responses:
        "200":
          description: Tokens + serialized user (created on first verify)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthTokens" }
        "400":
          description: Invalid payload, expired, exhausted, or no pending code
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Code mismatch
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Phone rail disabled (`PHONE_AUTH_ENABLED` off)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: Verification provider unavailable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/auth/telegram:
    post:
      tags: [auth]
      operationId: loginWithTelegram
      summary: Exchange a Telegram OIDC ID token for our session
      security: []
      description: |
        "Continue with Telegram". The client runs Telegram's official iOS Login
        SDK, which hands control to the installed Telegram app and returns a
        signed OpenID Connect ID token; this endpoint verifies that token
        against Telegram's published keys (RS256, issuer
        `https://oauth.telegram.org`, audience = our bot's Client ID) and mints
        our own access/refresh pair.

        No client secret is involved anywhere: we verify an already-issued ID
        token and never exchange an authorization code.

        Account resolution is what makes the bot and the app one product. The
        token's subject IS `User.telegramId`, so someone who has been talking to
        the bot lands in their existing profile. Failing that, a **verified**
        `phone_number` claim matches the same human's app account (`User.phone`
        is the cross-rail login key). Otherwise a new account is created.

        The number is trusted only when `phone_number_verified` is true, and it
        satisfies the general track's contact gate — a Telegram login therefore
        costs no SMS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [idToken]
              properties:
                idToken:
                  type: string
                  description: The ID token returned by the Telegram Login SDK.
      responses:
        "200":
          description: Tokens + serialized user (created on first login)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthTokens" }
        "400":
          description: Missing `idToken`
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: |
            Signature, issuer, audience, expiry or subject is not acceptable.
            Terminal — retrying the same token cannot help.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: |
            `code: "account_conflict"` — the verified number belongs to one
            account and this Telegram identity to another. Both are real; the
            merge is a support decision, so the client points the user at
            @gennetysupport rather than choosing for them.
          content:
            application/json:
              schema:
                type: object
                required: [error, code]
                properties:
                  error: { type: string }
                  code: { type: string, enum: [account_conflict] }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: |
            Telegram's key set could not be reached. **Retryable** — this is our
            outage, not a bad login, and the client must say so.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: Telegram login not configured (`TELEGRAM_LOGIN_CLIENT_ID` empty)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/auth/refresh:
    post:
      tags: [auth]
      operationId: refreshTokens
      summary: Rotate the refresh token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        "200":
          description: Fresh token pair (no user payload)
          content:
            application/json:
              schema:
                type: object
                required: [accessToken, refreshToken, expiresIn]
                properties:
                  accessToken: { type: string }
                  refreshToken: { type: string }
                  expiresIn: { type: integer, description: Access TTL in seconds }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: Invalid or expired refresh token
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/auth/logout:
    post:
      tags: [auth]
      operationId: logout
      summary: Sign this device out
      description: |
        Stops every push this account sends to devices — the push token and
        all Live Activity tokens are cleared — and revokes the refresh session
        named by `refreshToken`. Without `refreshToken`, every refresh session
        of the account is revoked. The bearer access token stays valid until
        its short TTL runs out; it can no longer be renewed.

        Call it before discarding tokens locally. Signing out only on the
        device used to leave the server pushing the account's notifications
        to a phone the next account then signed in on. A token that is not
        the caller's own is ignored, and repeating the call still answers
        `ok`. Presenting a signed-out refresh token to `/v1/auth/refresh`
        afterwards is treated as token reuse (every session is revoked).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  description: The refresh token this device holds.
      responses:
        "200":
          description: Signed out
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/me:
    get:
      tags: [me]
      operationId: getMe
      summary: Current user + profile
      responses:
        "200":
          description: User with optional profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [me]
      operationId: patchMe
      summary: Edit the mutable profile slice
      description: |
        Editable: `major` (user); `hobbies`, `partnerPreferences`,
        `psychologicalSummary`, `ageRangeMin`, `ageRangeMax` (profile, nested
        under `profile`). Fixed identity fields are silently ignored.

        **Clearing a text field: send an empty string, not `null`.** The patch is
        built on key presence, and a generated Swift client cannot express
        `null` — a nullable collapses to `Optional` and the synthesised encoder
        uses `encodeIfPresent`, so `nil` removes the KEY rather than sending
        `null`. An emptied field therefore looked to the server like "not
        mentioned" and the old text survived a cheerful 200. `""` (or any
        whitespace-only string) is the sentinel for "clear this", and the server
        stores `null`. `null` itself still works for callers that can send it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                major: { type: [string, "null"], maxLength: 120 }
                profile:
                  type: object
                  properties:
                    hobbies:
                      type: [array, "null"]
                      maxItems: 10
                      items: { type: string, maxLength: 50 }
                    partnerPreferences: { type: [string, "null"] }
                    psychologicalSummary: { type: [string, "null"] }
                    ageRangeMin: { type: [integer, "null"] }
                    ageRangeMax: { type: [integer, "null"] }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [me]
      operationId: deleteAccount
      summary: GDPR account deletion (storage erasure + relational cascade)
      description: |
        Payment records and the safety history filed against the account are
        kept (payment rows with a null owner; moderation state as keyed
        hashes) — see the privacy policy. While a refund connected to the
        account is still being processed, deletion is refused with 409
        `refund-in-progress` and nothing is erased; the same request succeeds
        once the refund has gone through.
      responses:
        "204": { description: Account deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: |
            `error: "refund-in-progress"` — a refund on this account is still
            in flight. Nothing was deleted; retry later. `message` carries an
            English explanation for logs, not for display.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: Storage cleanup unavailable — account preserved, retry
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/status:
    patch:
      tags: [me]
      operationId: setMatchmakingStatus
      summary: Pause/resume matching (the "Сегодня" gesture)
      description: |
        Allowed transitions: active→paused, paused→active, frozen→active
        (silent reactivation on app return). Same-state requests are
        idempotent. onboarding/suspended/banned/pending_investigation → 409.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [active, paused]
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Transition not allowed from the current status
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/freeze:
    post:
      tags: [me]
      operationId: freezeAccount
      summary: Soft-delete alternative — leave the pool, keep everything
      description: |
        Telegram Settings parity: cancels in-flight matches (partner is
        notified/compensated), keeps profile/verification/embedding intact,
        flips to `frozen`. Reactivate via PATCH /v1/me/status {active}.
        Idempotent when already frozen.
      responses:
        "200":
          description: Updated user + profile (status frozen)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Freeze not allowed from the current status
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/home-location:
    post:
      tags: [me]
      operationId: setHomeLocation
      summary: Persist the canonical dating city (matching eligibility gate)
      description: |
        The city must be one of `AppConfig.supportedCities` — anything else is
        rejected with `city-not-supported` (400), including a `waitlist` entry
        from `AppConfig.cityCatalog`. The resolved market's own name and
        coordinates are stored: the request only selects WHICH market. Also the
        endpoint an existing account uses to move to a launched city.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [homeCity, homeCountryCode, latitude, longitude]
              properties:
                homeCity: { type: string, maxLength: 120 }
                homeCountryCode:
                  type: string
                  pattern: "^[A-Za-z]{2,8}$"
                homeCityKey:
                  type: string
                  maxLength: 160
                  description: Optional — server derives `cc:city-slug` when absent
                homePlaceId: { type: [string, "null"], maxLength: 256 }
                latitude: { type: number, minimum: -90, maximum: 90 }
                longitude: { type: number, minimum: -180, maximum: 180 }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400":
          description: Invalid payload, or `city-not-supported` for an unlaunched city
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/referral:
    get:
      tags: [me]
      operationId: getReferral
      summary: Referral state — tickets earned, reward slots left, invite link
      description: >-
        Feature-flagged (`REFERRAL_FEATURE_ENABLED`; 404 when off). The program
        pays in Date Tickets only — never Premium, and no money values (decision
        2026-09-22): each invited friend who clears verification earns the
        referrer `ticketsPerFriend` tickets (for at most `rewardCap` friends)
        and the friend `inviteeTickets` tickets. Reading this also releases
        rewards the daily velocity cap was holding, once it allows.
      responses:
        "200":
          description: Tickets earned / pending, reward slots, invite link
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReferralState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: "Referral feature disabled, or user not found" }

  /v1/me/referral/claim:
    post:
      tags: [me]
      operationId: claimReferral
      summary: Attribute this user to a referrer by code (first-touch, guarded)
      description: >-
        First-touch only — never overwrites an existing attribution. Rejects a
        self-referral and an unknown code. Both rewards (tickets for the
        referrer and for this user) are paid later, when THIS user clears
        verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  maxLength: 64
                  description: The referrer's invite code (their user id)
      responses:
        "200":
          description: Attribution applied
          content:
            application/json:
              schema:
                type: object
                required: [applied]
                properties:
                  applied: { type: boolean, enum: [true] }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Referral feature disabled }
        "409":
          description: Not applied (self-referral, unknown code, or already attributed)
          content:
            application/json:
              schema:
                type: object
                required: [applied]
                properties:
                  applied: { type: boolean, enum: [false] }
                  reason: { type: string }

  /v1/me/promo/claim-deferred:
    post:
      tags: [me]
      operationId: claimPromoDeferred
      summary: Attribute this new user to a promo code (iOS deferred deep link)
      description: >-
        Feature-flagged (`PROMO_FEATURE_ENABLED`; 404 when off). First-launch
        resolves the effective promo code from a coarse device-fingerprint
        match against a recent promo landing-page touch, or — only while the
        `PROMO_MANUAL_ENTRY_ENABLED` seam is on — from a typed `code` (optional
        `GENNETY:` prefix), then first-touch attributes this user (never
        overwrites an existing attribution). The welcome gift itself is granted
        later at the wow screen via `/v1/me/promo/claim`. New accounts only:
        created within the last 24 hours and not yet through onboarding,
        otherwise 409 `promo-not-eligible`.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  maxLength: 64
                  description: >-
                    Typed promo code (with or without the `GENNETY:` prefix).
                    Ignored unless `PROMO_MANUAL_ENTRY_ENABLED`; omit to rely on
                    fingerprint matching.
      responses:
        "200":
          description: Attribution result (attributed=false when no code resolved)
          content:
            application/json:
              schema:
                type: object
                required: [attributed]
                properties:
                  attributed: { type: boolean }
                  reason: { type: string }
                  code: { type: [string, "null"] }
                  tickets: { type: integer }
                  months: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Promo feature disabled }
        "409":
          description: >-
            Not a new account (older than 24 hours or past onboarding) — promo
            codes are for new users only. Body `{ error: "promo-not-eligible",
            attributed: false, reason: "not-eligible" }`.

  /v1/me/promo/claim:
    post:
      tags: [me]
      operationId: claimPromo
      summary: Grant the promo welcome gift (Date Ticket + Premium months)
      description: >-
        Feature-flagged (`PROMO_FEATURE_ENABLED`; 404 when off). Idempotent —
        grants the promo-attributed user their one-time Date Ticket + Premium
        months at the native wow screen. Twin of the Telegram
        `/v1/telegram-onboarding/promo-gift`. Applied=false when there is nothing
        to grant (not a promo user, code no longer redeemable, or already
        redeemed).
      responses:
        "200":
          description: Grant result
          content:
            application/json:
              schema:
                type: object
                required: [applied]
                properties:
                  applied: { type: boolean }
                  code: { type: [string, "null"] }
                  tickets: { type: integer }
                  months: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Promo feature disabled }

  /v1/me/preferences:
    patch:
      tags: [me]
      operationId: patchPreferences
      summary: Update match radius preference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [matchRadius]
              properties:
                matchRadius: { $ref: "#/components/schemas/MatchRadius" }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/theme:
    patch:
      tags: [me]
      operationId: patchTheme
      summary: Set the colour theme (Settings picker)
      description: |
        Takes both halves of the answer: `mode` is what the person picked and
        `theme` is the colour it resolves to right now. They are equal for an
        explicit pick and differ only under `system`, where the phone decides
        and the client re-sends `theme` whenever the appearance flips.

        Both are stored because they answer different questions: `mode` decides
        which radio the app checks, `theme` decides what the Telegram PNG cards
        are painted in. Sending `mode` alone would leave an app that follows a
        light phone receiving dark cards — the split this route closes.

        Stamps `themeChosenAt`, so the Mini App onboarding does not ask again
        someone who has already answered on iOS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mode, theme]
              properties:
                mode: { $ref: "#/components/schemas/ThemeMode" }
                theme: { $ref: "#/components/schemas/Theme" }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/language:
    patch:
      tags: [me]
      operationId: patchLanguage
      summary: Set the account language (Settings picker)
      description: |
        Closes release-plan defect S6. The app has had a language picker since
        2026-09-04 and applies it instantly and locally, but until this route
        the choice went nowhere: `User.language` was written once, during
        onboarding. Anyone who switched kept receiving pushes, interview
        questions and rendered Telegram cards in the language they registered
        in — the interface said one thing and everything arriving from outside
        said another.

        Only the codes in `Language` are accepted; near-misses such as `ru-RU`
        or `EN` are refused rather than normalised, because a value no renderer
        recognises would break all three surfaces at once.

        Writing this also clears the account's cached date/match card PNGs, so
        the next card is rendered in the new language instead of being served
        from a cache painted in the old one.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [language]
              properties:
                language: { $ref: "#/components/schemas/Language" }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/push-token:
    post:
      tags: [me]
      operationId: registerPushToken
      summary: Register the device push token
      description: |
        One token per user row; silent overwrite on re-registration.
        The native iOS client sends `platform: "apns"` (delivery is direct
        APNs; the legacy default remains `expo` for wire-compat only).

        A token names a device, so registering it takes it away from any
        other account still holding it: the account previously signed in on
        this phone stops receiving pushes here. `POST /v1/auth/logout`
        releases it explicitly.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
                platform:
                  type: string
                  maxLength: 16
                  default: expo
                  examples: [apns]
      responses:
        "200":
          description: Registered
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/rhythm:
    get:
      tags: [me]
      operationId: getOwnRhythm
      summary: The owner's own life rhythm (Tempo Sync) for the "Твой темп" card
      description: |
        Tempo Sync (decision journal 2026-09-24, variant B). Returns the two
        coarse tags the iOS client last derived from Apple Health, with the
        coverage and dates — or `profile: null` when there is none, or it has
        not been refreshed for 35 days (treated as absent everywhere).

        The whole path answers 404 while `features.tempoSync` is false.
      responses:
        "200":
          description: The owner's profile, or null
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile:
                    description: Null (or absent) when there is no fresh profile.
                    $ref: "#/components/schemas/OwnRhythm"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
    put:
      tags: [me]
      operationId: putOwnRhythm
      summary: Replace the life rhythm with a fresh on-device reduction
      description: |
        The body is the ENTIRE contract between the phone and the server:
        two tags and how many days of step data they rest on. Everything is
        computed on the device from 28 days of Apple Health steps; no raw
        number ever leaves it. Strict — an unknown field, a string where a
        number belongs, coverage under 10 days or an unknown consent version is
        a 400, never silently dropped.

        Send only when the device found at least 10 days with data. Below that
        send nothing: the person stays on the base algorithm, exactly like
        someone who declined Health access (iOS does not say which it was).

        The first successful PUT under a consent version records the consent
        time; re-syncs keep it.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RhythmUpload" }
      responses:
        "200":
          description: Stored
          content:
            application/json:
              schema:
                type: object
                required: [ok, profile]
                properties:
                  ok: { type: boolean, const: true }
                  profile: { $ref: "#/components/schemas/OwnRhythm" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
    delete:
      tags: [me]
      operationId: deleteOwnRhythm
      summary: Forget the life rhythm now ("Отключить")
      description: >-
        Idempotent: 204 whether or not a profile existed. The client should also
        stop syncing; revoking Health access itself happens in iOS Settings.
      responses:
        "204": { description: Forgotten }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/me/live-activity-token:
    post:
      tags: [me]
      operationId: registerLiveActivityToken
      summary: Register an ActivityKit push token (start or update)
      description: |
        One registration per (user, activityType, kind) — re-registration
        upserts in place. The same token held by another account is
        removed from it first (the token names this install). The server uses `update` tokens to drive the
        "match decision", "date day" and "venue change" Live Activities via APNs.

        `venue_change` (2026-09-22): register the push-to-start token of the
        `VenueChangeActivity` attributes type as `kind: start` (no matchId), and
        each started card's update token as `kind: update` WITH its `matchId`.
        The server pushes an update only into a token registered for that match
        after the card was push-started, so re-register whenever ActivityKit
        hands out a new update token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [activityType, kind, token]
              properties:
                activityType:
                  type: string
                  enum: [match_decision, date_day, venue_change]
                kind:
                  type: string
                  enum: [start, update]
                token: { type: string, maxLength: 200 }
                matchId: { type: string }
      responses:
        "200":
          description: Registered
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/live-activity-token/{activityType}/{kind}:
    delete:
      tags: [me]
      operationId: deleteLiveActivityToken
      summary: Drop a registration when the activity ends locally
      parameters:
        - name: activityType
          in: path
          required: true
          schema:
            type: string
            enum: [match_decision, date_day, venue_change]
        - name: kind
          in: path
          required: true
          schema:
            type: string
            enum: [start, update]
      responses:
        "204": { description: Deleted (idempotent) }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/blocks:
    get:
      tags: [me]
      operationId: listBlockedUsers
      summary: People this user has blocked
      description: |
        Newest first. Shows only who the caller blocked — the reverse direction
        is not readable by anybody. A first name and a date is everything
        returned: enough to recognise a mistake and undo it, no more.
      responses:
        "200":
          description: Blocked list
          content:
            application/json:
              schema:
                type: object
                required: [blocks]
                properties:
                  blocks:
                    type: array
                    items:
                      type: object
                      required: [userId, firstName, blockedAt]
                      properties:
                        userId: { type: string, format: uuid }
                        firstName: { type: [string, "null"] }
                        blockedAt: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/blocks/{userId}:
    delete:
      tags: [me]
      operationId: unblockUser
      summary: Lift a block
      description: |
        Removes the record only. The cancelled date is not restored and the two
        are still kept apart by the lifetime pair ban — this exists for a block
        filed by mistake.
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Block lifted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: No such block
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/tickets/history:
    get:
      tags: [me]
      operationId: getTicketHistory
      summary: Wallet movements, newest first
      description: |
        The account behind the balance: every credit and every spend, in the
        order they happened. The wallet is shared with the Telegram bot, so a
        ticket can arrive or leave while the app was never open — this route is
        the only way the native tab can explain the number it shows.

        **No money is returned, by design.** The ledger stores what Apple
        charged in the buyer's storefront currency with no currency beside it,
        so a euro purchase is indistinguishable from a dollar one; printing a
        symbol in front of it would be a guess. The only place this product
        shows a price is StoreKit's own `displayPrice`. Telegram Stars are left
        out from the other side: they cannot be spent or bought on this screen.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 30 }
        - name: before
          in: query
          description: |
            Ledger row id to page from, exclusive. A row id and not a
            timestamp: `createdAt` ties are real (settling both slots of a gate
            writes two rows in one transaction), and a timestamp cursor would
            either skip a row or repeat one.
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: One page of movements
          content:
            application/json:
              schema:
                type: object
                required: [entries, hasMore]
                properties:
                  entries:
                    type: array
                    items: { $ref: "#/components/schemas/TicketHistoryEntry" }
                  hasMore:
                    type: boolean
                    description: Older movements exist after this page
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Ticket feature disabled, or unknown `before` cursor
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/verification:
    get:
      tags: [me]
      operationId: getVerificationStatus
      summary: Read-only verification status
      responses:
        "200":
          description: Current status
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { $ref: "#/components/schemas/VerificationStatus" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/verification/consent:
    post:
      tags: [me]
      operationId: recordBiometricConsent
      summary: Record explicit consent to biometric processing
      description: |
        GDPR Art. 9(2)(a) requires an **explicit** act of consent for biometric
        processing specifically — the general Terms tick at sign-up is not one,
        and neither is tapping a button labelled "Verify".

        Call this when the user confirms on a dedicated consent screen that
        states what is captured, who processes it (AWS, in the EU), how long the
        reference still is kept (90 days), and what declining means (they are
        not matched). `native-init` answers `409` until this has succeeded.

        Idempotent: the first consent's timestamp is preserved on repeat calls,
        and only the recorded document version is refreshed.
      responses:
        "200":
          description: Consent recorded
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: { type: boolean, enum: [true] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503":
          description: Consent could not be recorded — do NOT start the check
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/verification/native-init:
    get:
      tags: [me]
      operationId: getNativeVerificationConfig
      summary: Mint an AWS Face Liveness session for the native client
      description: |
        Returns the session id, region, and short-lived AWS credentials that
        `FaceLivenessDetectorView(sessionID:region:credentialsProvider:)`
        needs to stream its selfie video straight to Rekognition. The video
        never passes through our server. Flips verificationStatus to
        `pending` — with one exception, below.

        An already-verified user is refused with `409`, because re-running
        would burn a check for no decision. The exception is a verified user
        whose reference selfie the 90-day retention scrub removed: they are
        admitted, because that is the only way to satisfy the
        `409 reference_expired` a photo upload answers with. Such a user keeps
        `verified` for the whole check — matching admits `verified` only, so a
        downgrade would drop them out of the pool over a photo edit.

        **The session expires 3 minutes after this call**, taking its
        reference image with it. Present the detector immediately and report
        the result to `native-event` in the same sitting; a stale session
        cannot be resumed, only replaced by a new one.

        Credentials are clamped server-side to
        `rekognition:StartFaceLivenessSession` and last ~15 minutes. Only the
        face-match pipeline can write `verified`/`rejected`.

        Replaces the Persona Inquiry SDK config. The hosted-flow endpoint
        `GET /v1/me/verification/url` was removed with the provider.
      responses:
        "200":
          description: Liveness session + scoped credentials
          content:
            application/json:
              schema:
                type: object
                required: [sessionId, region, credentials, language]
                properties:
                  sessionId:
                    type: string
                    format: uuid
                    description: Single-use. A new check needs a new session.
                  region:
                    type: string
                    example: eu-central-1
                    description: Must match the region the detector streams to.
                  credentials: { $ref: "#/components/schemas/LivenessCredentials" }
                  language: { $ref: "#/components/schemas/Language" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: |
            Different situations, told apart by `code` — never by the
            human-readable `error` string:

            - `already_verified` — no session is minted; the client shows a
              "you're verified" state.
            - `consent_required` — the user has not yet passed through
              `POST /v1/me/verification/consent`. Show the consent screen,
              record the consent, then retry this call once.
            - `photos_required` — the profile has no photos, so a passing check
              would have nothing to be compared against. Send the user to add
              photos (at least `minPhotos`), then offer the check again.
              `message` carries the ask in the user's language. Checked before
              consent, so nobody reads the biometric disclosure for a check
              that cannot run yet.
            - `onboarding_incomplete` — a first check for an account that has
              not finished registration (onboarding, or the track contact).
              The app only offers verification after onboarding, so this is a
              server-side backstop rather than a screen to design for.

            A client that treats every `409` as "verified" leaves the user
            tapping a button that silently does nothing, which is exactly what
            happened before `code` existed.
          content:
            application/json:
              schema:
                type: object
                required: [error, code]
                properties:
                  error: { type: string }
                  code:
                    type: string
                    enum: [already_verified, consent_required, photos_required, onboarding_incomplete]
                  message:
                    type: string
                    description: |
                      `photos_required` only. The ask, localized to the user's
                      `User.language`.
                  minPhotos:
                    type: integer
                    description: "`photos_required` only. The profile photo floor (`MIN_PHOTOS`)."
        "429": { $ref: "#/components/responses/RateLimited" }
        "503":
          description: Liveness not configured, or the provider is unavailable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/verification/native-event:
    post:
      tags: [me]
      operationId: reportNativeVerificationEvent
      summary: Report the terminal event from the native liveness detector
      description: |
        `complete` reads AWS's verdict **inside this request** — the session
        dies 3 minutes after `native-init`, so there is no later chance — and
        starts the face-match pipeline on a pass. `cancel`/`error` are logged
        only.

        The `outcome` tells the client what to show next: `processing` means
        the check passed and face-matching is running (the terminal result
        arrives by push, or poll `GET /v1/me/verification`); `retry` means
        liveness could not be confirmed. `retry` is NOT a rejection and
        changes no verification state — mint a new session and try again.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind]
              properties:
                kind:
                  type: string
                  enum: [complete, cancel, error]
                sessionId:
                  type: string
                  maxLength: 64
                  description: Required when `kind` is `complete`.
                message: { type: string, maxLength: 512 }
      responses:
        "200":
          description: Acknowledged
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: { type: boolean }
                  outcome:
                    type: string
                    enum: [processing, retry]
                    description: Present only when kind is `complete`.
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503":
          description: Could not read the verdict — the check can be re-run
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/feedback/pending:
    get:
      tags: [me]
      operationId: getPendingFeedback
      summary: The date this caller still owes post-date feedback on
      description: |
        PRODUCT_SPEC §Phase 4.3. Exists because there is no other way for the
        app to learn a form is waiting: `/v1/matches/current` deliberately
        excludes `completed` (`ACTIVE_MATCH_STATUSES`), so the moment the date
        closes out the match disappears from every surface the client polls.
        In Telegram the T+24h DM carries the link and no discovery is needed;
        the app has no such carrier, which is why this endpoint is the native
        half of the feature rather than a convenience.

        Gated on `feedbackPromptedAt` — the same one-shot marker the lifecycle
        tick writes — not on `completed` alone. Asking earlier would surface
        the form minutes after the date, while one of them may still be at the
        table.

        `pending` is **null** when nothing is owed. That is the ordinary state
        of this endpoint, so it is not an error and a polling client must not
        have to treat the common case as one.
      responses:
        "200":
          description: The pending form, or null
          content:
            application/json:
              schema:
                type: object
                description: |
                  `pending` is OPTIONAL rather than a nullable union, and that
                  is load-bearing: `oneOf: [$ref, "null"]` is the shape
                  swift-openapi-generator drops in silence (see
                  `SerializedUser.gender`). The server still sends an explicit
                  `null` when nothing is owed; an optional property decodes
                  that to absent, so the wire is unchanged and the property
                  actually exists in the generated client.
                properties:
                  pending: { $ref: "#/components/schemas/PendingFeedback" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/feedback/post-date:
    post:
      tags: [me]
      operationId: submitPostDateFeedback
      summary: Submit post-date feedback (chemistry, second date, notes)
      description: |
        The JWT twin of the Mini App's `POST /v1/feedback/post-date`. Both call
        `services/post-date-feedback.ts`, so the two surfaces cannot disagree
        about what counts as an answer — which matters more here than usual,
        because this form is the only place the product learns whether a date
        worked, and two implementations would quietly build two datasets.

        The structured answers are composed into the single text blob the LLM
        analyst reads; no new columns are written for them.

        **The form is answered once per side.** A second submission is refused
        with 409 `already-submitted` and the first answer stays: it has already
        been analysed into matching, and re-running that analysis would count
        its dealbreakers twice. A story the person told the concierge, or a
        Telegram voice note, recorded before the form does NOT close it — the
        chemistry score and the second-date answer come only from here — so the
        form is accepted on top of either and the earlier text is kept.

        Unlike the Mini App twin this sends **no thank-you DM**: that surface
        can assume a bot chat exists because the request was signed by one,
        this one cannot, and a message nobody receives is not a confirmation.
        The 200 is the confirmation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [matchId, chemistry, wantsSecondDate]
              properties:
                matchId: { type: string, format: uuid }
                chemistry:
                  type: integer
                  minimum: 1
                  maximum: 10
                  description: |
                    Refused rather than clamped when out of range. A 0 or an 11
                    is a client bug, and rounding one into the dataset is worse
                    than a 400.
                wantsSecondDate:
                  type: string
                  enum: [yes, maybe, no]
                text:
                  type: string
                  maxLength: 1000
                  description: |
                    Optional. An empty comment is a legitimate answer — the
                    slider and the segment already carry signal.
                venueFit:
                  type: string
                  enum: [yes, partly, no]
                  description: |
                    Did the venue match the vibe the pair asked for. OPTIONAL
                    rather than nullable: `enum: [..., null]` makes
                    swift-openapi-generator emit a fourth case spelled `""`,
                    which serialises to a value the server rejects — a foot-gun
                    sitting in `allCases` of an enum a client will iterate to
                    build chips. Omitting the property says the same thing to
                    `normaliseFeedback`, which coerces anything unrecognised to
                    `null`. Same family as the `oneOf: [$ref, "null"]` trap; see
                    `SerializedUser.gender`.
                venueFitReasons:
                  type: array
                  maxItems: 3
                  items:
                    type: string
                    enum: [wrong_vibe, too_loud, too_expensive, route_unfair, accessibility, closed_or_unavailable]
                language:
                  type: string
                  enum: [en, ru, uk, de, pl]
                  description: |
                    Optional hint. Falls back to `User.language`, because the
                    analyst prompt is language-agnostic and a comment in one
                    language under a header in another reads to it as two
                    voices.
      responses:
        "200":
          description: Recorded. Carries whatever is still pending afterwards.
          content:
            application/json:
              schema:
                type: object
                description: |
                  `pending` is OPTIONAL rather than a nullable union, and that
                  is load-bearing: `oneOf: [$ref, "null"]` is the shape
                  swift-openapi-generator drops in silence (see
                  `SerializedUser.gender`). The server still sends an explicit
                  `null` when nothing is owed; an optional property decodes
                  that to absent, so the wire is unchanged and the property
                  actually exists in the generated client.
                properties:
                  pending: { $ref: "#/components/schemas/PendingFeedback" }
        "400":
          description: |
            `bad-chemistry`, `bad-second-date`, or `empty-text` (nothing at all
            was said, which the analyst cannot use).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The caller is not on this match.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: No such match.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: |
            `wrong-state` — the date has not been closed out yet. Deliberately
            not a 404: the match exists and the caller is on it, and a 404
            would send the client looking for a routing bug that is not there.

            `already-submitted` — this side has already answered the form. The
            first answer is kept; there is nothing to retry. `GET
            /v1/me/feedback/pending` reports it as `submitted: true`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/profiler:
    get:
      tags: [me]
      operationId: getProfilerBatch
      summary: The Profiler question to show now (opens a due batch)
      description: |
        PRODUCT_SPEC §Phase 1b. The Profiler asks short questions after
        onboarding whose answers fuel the pre-date icebreakers and wingman
        hints — never matching. Telegram PUSHES each batch from the worker;
        the app PULLS it here. Same bank, same rows, same skip/return rules:
        `services/profiler-native.ts` shares every non-delivery step with the
        Telegram path.

        What this returns, in order:
        - `{}` when the caller is not eligible (not `active`, onboarding not
          `completed`, or no gender).
        - **The live question, if there is one — whichever surface opened it.**
          This is the resume: close the app mid-batch and the same question is
          waiting next time. For an app-only account nothing ever expires it
          (the worker does not serve `platform = mobile`); for a `both`
          account the worker's 6 h stall sweep still records an unanswered
          question as an implicit skip, exactly as in Telegram.
        - Otherwise, when a batch is due — the next window has passed (after
          onboarding: the ~10 min entry delay), or the Profiler was never
          armed at all, in which case the caller is asked straight away —
          and the caller is not mid
          date-negotiation (`proposed` / `negotiating` / `negotiating_venue`),
          a batch is opened atomically and its first question returned. Batch
          size is 3, or 2 in rush mode (a drop is imminent). Local quiet hours
          do NOT apply here: they exist so a push never lands at 3 am, and a
          person who opened the app is already looking at it.
        - `{}` otherwise. That is the ordinary state, not an error.

        The text is in `User.language` (English fallback). Poll it when the
        Today screen appears; it is cheap and writes nothing when nothing is
        due.
      responses:
        "200":
          description: The current question, or `{}` when nothing is pending
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProfilerBatch" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/profiler/answer:
    post:
      tags: [me]
      operationId: answerProfilerQuestion
      summary: Answer, skip, or refuse the live Profiler question
      description: |
        Resolves the caller's live question with the same compare-and-set the
        Telegram chat uses, so exactly one reply — from either surface — ever
        counts.

        - `skip: true` is the Skip button: the question returns once later in
          this cycle, then steps aside until the next one. Any `text` sent with
          it is ignored.
        - A text that is a refusal ("later", "не хочу", "skip"…, matched on the
          whole utterance) is recorded as a skip, NOT as an answer, and pauses
          the rest of the batch to the caller's next local window →
          `outcome: paused`.
        - Anything else is stored as the answer (trimmed, capped at 1000
          characters), exactly as a Telegram answer is. Text only — the humour
          question's meme reading is a Telegram-only extra.

        Then the batch advances: `next` carries the following question;
        `done` means the batch is over (or nothing is left this cycle, or a
        date negotiation started meanwhile) and the next one opens at the
        caller's next local morning/evening window. Nothing is sent to
        Telegram; answering does not trigger anything new.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfilerAnswerRequest" }
      responses:
        "200":
          description: Recorded; what the batch does next
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProfilerAnswerResult" }
        "400":
          description: |
            `missing_question_id`, or `empty_answer` — neither a non-empty
            `text` nor `skip: true`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: |
            `question_not_active` — `questionId` is not the caller's live
            question: already answered in Telegram, reclaimed by the stall
            sweep, or a double tap. Nothing was recorded; re-read
            `GET /v1/me/profiler`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/music:
    get:
      tags: [music]
      operationId: getMyMusic
      summary: The caller's pinned tracks, in display order
      description: |
        Up to three Spotify tracks (decision 2026-09-11). 404 while
        `PROFILE_MUSIC_ENABLED` is off — which is also how a client learns to
        hide the section. Display-only: the tracks never feed matching or any
        AI (Spotify Developer Policy).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MusicTracksResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Feature disabled }
    put:
      tags: [music]
      operationId: setMyMusic
      summary: Replace the pinned tracks
      description: |
        Spotify track ids only, in display order; `[]` clears the set. The
        server resolves every id to Spotify's own metadata before saving — a
        client cannot put a title or a cover of its choosing on a profile —
        and saves nothing unless every id resolves.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [trackIds]
              properties:
                trackIds:
                  type: array
                  maxItems: 3
                  uniqueItems: true
                  items: { type: string, pattern: "^[0-9A-Za-z]{22}$" }
      responses:
        "200":
          description: Saved — the set as it now stands
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MusicTracksResponse" }
        "400":
          description: "`invalid_track_ids`, `too_many_tracks` or `duplicate_tracks`"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Feature disabled }
        "422":
          description: "`track_not_found` — Spotify does not serve one of the ids; nothing was saved"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "502":
          description: "`upstream_unavailable` — Spotify did not answer; nothing was saved"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: |
            `rate_limited` (Spotify's app-wide quota — deliberately not our 429,
            which would read as "you, slow down") or `not_configured`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/music/search:
    get:
      tags: [music]
      operationId: searchMusic
      summary: Search Spotify's catalogue for tracks
      description: |
        Runs server-side on the app's Client Credentials token — no Spotify
        login. At most 10 results (Spotify's development-mode cap). 404 while
        `PROFILE_MUSIC_ENABLED` is off.
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 2, maxLength: 100 }
      responses:
        "200":
          description: Matching tracks, in Spotify's order
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MusicTracksResponse" }
        "400":
          description: "`bad_query` — under 2 or over 100 characters after trimming"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Feature disabled }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: "`upstream_unavailable` — Spotify did not answer"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: "`rate_limited` (Spotify's app-wide quota) or `not_configured`"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/integrations/spotify/authorize:
    post:
      tags: [music]
      operationId: startSpotifyImport
      summary: Begin the one-time Spotify top-tracks import
      description: |
        Returns Spotify's authorize URL (scope `user-top-read` only, PKCE).
        Open it in `ASWebAuthenticationSession` with the callback scheme
        `gennety`. Spotify sends the browser to our callback, which exchanges
        the code, reads the top tracks once, keeps no Spotify token, and ends
        in `gennety://spotify-import?status=<status>`:

        - `ok` — fetch `GET /v1/integrations/spotify/top-tracks`
        - `cancelled` — the person pressed Cancel on Spotify's page
        - `empty` — no listening history yet
        - `not_allowed` — the account is not on the development-mode
          allow-list (Spotify's 403); offer search
        - `expired` — the attempt went stale or was replayed; start again
        - `failed` — anything else

        404 unless both `PROFILE_MUSIC_ENABLED` and `SPOTIFY_TOP_TRACKS_ENABLED`
        are on (`AppConfig.features.spotifyTopTracks`).
      responses:
        "200":
          description: Spotify's authorize URL
          content:
            application/json:
              schema:
                type: object
                required: [authorizeUrl]
                properties:
                  authorizeUrl: { type: string, format: uri }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Feature disabled }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503":
          description: "`not_configured` — Spotify credentials or redirect URI missing"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/integrations/spotify/top-tracks:
    get:
      tags: [music]
      operationId: getSpotifyTopTracks
      summary: The candidates from a just-finished import
      description: |
        Up to 15 of the caller's Spotify top tracks (about the last six
        months), held for 15 minutes after the import and dropped as soon as
        the caller saves with `PUT /v1/me/music`.
      responses:
        "200":
          description: Candidates, Spotify's order
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MusicTracksResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: "`no_import` — nothing fresh to show (or the feature is off)"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/voice-prompt:
    get:
      tags: [me]
      operationId: getMyVoicePrompt
      summary: The caller's own voice prompt, if they recorded one
      description: |
        404 while `VOICE_PROMPT_ENABLED` is off — which is also how a client
        learns to hide the step, rather than shipping a screen that saves
        nothing.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  voicePrompt:
                    $ref: "#/components/schemas/MyVoicePrompt"
        "404": { description: Feature disabled }
    post:
      tags: [me]
      operationId: setMyVoicePrompt
      summary: Commit a recording as the caller's voice prompt
      description: |
        Replaces whatever was there — there is no history and nothing to
        reconcile. Validation is safety-only (no identity gate, no voice
        printing): the clip is transcribed, the transcript is moderated, and
        it is refused if it hands out a way to contact the speaker off-platform.

        `durationSec` is only a first filter. The duration stored and returned
        is the one transcription measured (falling back to the sent value,
        clamped into range, when no measurement comes back), and the length
        bounds are enforced on that — a clip may be refused `voice_too_long`
        whatever it claimed. Rate limit: `VOICE_PROMPT_UPLOADS_PER_HOUR` (10)
        commits per user per hour.

        Two transports, one pipeline. **Preferred:** PUT the file to the
        `uploadUrl` from `/upload-url`, then commit `{uploadPath, durationSec}`
        naming the `uploadPath` that came with it. **Fallback** (when
        `/upload-url` answered `uploadUrl: null`): commit `{audio, durationSec,
        mimeType}` with the bytes in base64. Exactly one of `uploadPath` /
        `audio` is expected; `uploadPath` wins when both are sent.

        A refused signed upload is removed from storage, except on
        `processing_unavailable`, where the same `uploadPath` may be committed
        again.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [durationSec]
              properties:
                uploadPath:
                  type: string
                  description: The `uploadPath` a `/upload-url` answer carried, after the PUT succeeded.
                audio:
                  type: string
                  description: base64 audio bytes, at most `VOICE_PROMPT_MAX_FILE_SIZE_BYTES` (fallback transport)
                durationSec: { type: integer, minimum: 1 }
                mimeType:
                  type: string
                  description: Fallback transport only; a signed upload's type follows its key.
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  voicePrompt:
                    $ref: "#/components/schemas/MyVoicePrompt"
        "400": { description: "Malformed request, or an upload over `maxBytes` (`voice_too_long`)" }
        "403":
          description: "`upload-not-owned` — `uploadPath` is not a key minted for the caller"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: |
            `upload-missing` — nothing is stored under `uploadPath` (the PUT
            failed or never ran). Retry the PUT with the recording the client
            still holds; nothing about the clip was judged.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: |
            The request is well-formed and the CONTENT is refused. `error`
            carries the reason (`voice_too_short`, `voice_too_long`,
            `unsafe_content`, `audio_contact_info`, `processing_unavailable`)
            and `retryable` says whether re-recording is the fix or whether the
            same clip is worth sending again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  retryable: { type: boolean }
        "404": { description: Feature disabled }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { description: Storage unavailable }
    delete:
      tags: [me]
      operationId: deleteMyVoicePrompt
      summary: Remove the voice prompt
      description: |
        Also re-embeds: a deleted recording must stop influencing matching, or
        it becomes a ghost the user cannot see or clear.
      responses:
        "200": { description: Removed }
        "404": { description: Feature disabled }

  /v1/me/voice-prompt/upload-url:
    post:
      tags: [me]
      operationId: getVoicePromptUploadUrl
      summary: A signed upload for a voice prompt, plus its bounds
      description: |
        `uploadUrl` is a one-shot Supabase signed PUT (valid ~2 h): send the
        raw file as the body with `Content-Type` set to the `contentType`
        requested here, then commit `uploadPath` to `POST /v1/me/voice-prompt`.
        The bytes never pass through the API server.

        Both are null when storage cannot sign right now; the client then
        commits the bytes as base64 instead. The bounds are the recorder's
        own: stop at `maxDurationSec` (30), refuse to submit under
        `minDurationSec` (3). Rate limit: three mints per allowed commit per
        user per hour.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contentType]
              properties:
                contentType:
                  type: string
                  description: "`audio/mp4` for the native AAC-LC `.m4a` recording"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [maxBytes, minDurationSec, maxDurationSec]
                properties:
                  uploadUrl:
                    type: [string, "null"]
                    description: Signed PUT URL; null means commit the bytes as base64.
                  uploadPath:
                    type: [string, "null"]
                    description: The key to name in the commit; null exactly when `uploadUrl` is.
                  maxBytes: { type: integer }
                  minDurationSec: { type: integer }
                  maxDurationSec: { type: integer }
        "400": { description: Not an audio content type }
        "404": { description: Feature disabled }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/me/photos:
    get:
      tags: [me]
      operationId: listPhotos
      summary: Ordered profile photo paths + signed render URLs (10-min TTL)
      responses:
        "200":
          description: Photo list
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotosResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [me]
      operationId: uploadPhoto
      summary: Upload one profile photo (multipart field `photo`, ≤8 MB; profile max 10)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [photo]
              properties:
                photo:
                  type: string
                  format: binary
      responses:
        "201":
          description: Accepted and committed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotoUploadResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: |
            Photo limit reached, duplicate, or `code: "reference_expired"`.

            `reference_expired` is not a verdict on this photo: the 90-day
            retention scrub removed the verification selfie the server matches
            faces against, and AWS cannot re-issue it. Retrying the upload
            achieves nothing — send the user through `native-init` +
            `native-event` once more, then re-upload the SAME bytes rather
            than asking them to pick the photo again. Note the new reference
            is stored when the face-match pipeline finishes, not when
            `native-event` answers `processing`, so allow a short bounded
            retry.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413":
          description: File too large
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: Validation rejection (no face, obscured, identity mismatch, unsafe)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotoRejection" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: Storage/vision unavailable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: Validation temporarily unavailable — retry
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/photos/{index}:
    delete:
      tags: [me]
      operationId: deletePhoto
      summary: Remove a photo by array index
      parameters:
        - name: index
          in: path
          required: true
          schema: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Remaining photos
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotosResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Active users cannot drop below the minimum photo count
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/video:
    post:
      tags: [me]
      operationId: uploadProfileVideo
      summary: Upload the profile video (replaces any previous one)
      description: |
        Multipart with two parts, in this order: `video` (ISO-BMFF `.mp4`,
        H.264 or HEVC, 3–60 s, ≤ 50 MB) and `thumb` (the client-made
        first-frame poster, JPEG/PNG ≤ 5 MB).

        Checked server-side exactly like a video sent to the bot: every
        sampled frame and the audio transcript are moderated; there is no
        face or identity gate (the video is display-only). The `thumb`
        poster is shown to partners before playback, so it passes the same
        content-safety check as a profile photo, first: an unsafe poster
        refuses the whole upload with `unsafe_content`, and a moderation
        outage with a retryable `processing_unavailable`. Duration is
        measured here, not trusted from the client. Errors use the
        `{ error, code, retryable }` body — switch on `code`.

        The one-time `video_bonus` ticket is granted on the first accepted
        video (`bonusGranted`). Returns 404 before auth while the server's
        kill switch is off (see `PhotosResponse.videoEnabled`).
        Rate limit: 6 uploads per hour.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [video, thumb]
              properties:
                video: { type: string, format: binary }
                thumb: { type: string, format: binary }
      responses:
        "201":
          description: Accepted, stored and attached to the profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProfileVideoUploadResponse" }
        "400":
          description: "`invalid_media` — a part is missing, or not a video / not an image"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotoRejection" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: No profile yet, or the feature is switched off
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413":
          description: "`video_too_large` (> 50 MB) or `video_too_long` (> 60 s)"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotoRejection" }
        "422":
          description: "`unsafe_content`, `video_too_short` (< 3 s), or another validation refusal"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotoRejection" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: "`storage_unavailable` — retry"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotoRejection" }
        "503":
          description: "`processing_unavailable` — validation temporarily unavailable, retry"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotoRejection" }
    delete:
      tags: [me]
      operationId: deleteProfileVideo
      summary: Remove the profile video (idempotent)
      description: |
        Removes the video whichever surface recorded it; the profile falls
        back to photos only. Not an error when there is no video. The
        one-time ticket bonus is not reversed.
      responses:
        "200":
          description: Done
          content:
            application/json:
              schema:
                type: object
                required: [removed]
                properties:
                  removed:
                    type: boolean
                    description: False when there was no video to remove
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: The feature is switched off
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/onboarding/consent:
    post:
      tags: [onboarding]
      operationId: recordConsent
      summary: Record ToS acceptance (+ optional research opt-in)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [termsAccepted]
              properties:
                termsAccepted: { type: boolean, const: true }
                researchOptIn: { type: boolean, default: false }
                language:
                  $ref: "#/components/schemas/Language"
                  description: >
                    From the system locale (no picker). Advances onboarding to
                    the conversational interview once terms + language + a
                    verified contact rail are all set.
      responses:
        "200":
          description: Updated user
          content:
            application/json:
              schema:
                type: object
                required: [user]
                properties:
                  user: { $ref: "#/components/schemas/SerializedUser" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/onboarding/interview:
    get:
      tags: [onboarding]
      operationId: getInterviewState
      summary: Resume the server-owned conversational onboarding
      responses:
        "200":
          description: Current interview state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InterviewState" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/onboarding/interview/answer:
    post:
      tags: [onboarding]
      operationId: answerInterview
      summary: Send a text answer to the onboarding collector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  maxLength: 32000
                  description: >-
                    Ordinary interview answers are limited to 4,000 characters.
                    When the server-owned current question is `context_dump`, the
                    complete AI-memory JSON response may use up to 32,000.
      responses:
        "200":
          description: Next interview state (with the agent's reply as `question`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InterviewState" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: Terms not accepted or language not selected yet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/onboarding/interview/voice:
    post:
      tags: [onboarding]
      operationId: answerInterviewVoice
      summary: Send a voice answer (multipart field `file`, transcribed server-side)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Next interview state; `acknowledgement` carries the transcript
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InterviewState" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: Terms not accepted or language not selected yet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: Transcription failed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/onboarding/interview/voice-prompt:
    post:
      tags: [onboarding]
      operationId: finishInterviewVoicePrompt
      summary: Leave the voice-prompt step (`uiHint.control = voice_record`), kept or skipped
      description: |
        Call after the recording is committed (`POST /v1/me/voice-prompt`), or
        instead of recording when the user taps Skip. The server decides which
        exit it was from whether a recording is saved — the client does not say
        — marks the step, and resumes the collector, which normally finalizes
        onboarding. The response is the next interview state, exactly like an
        answer's.

        Without this call a native account stays on the voice question: the
        commit route does not advance onboarding by itself.

        Idempotent: when the collector is no longer on the voice question it
        changes nothing and returns the current state. 404 while
        `VOICE_PROMPT_ENABLED` is off (the step is then never asked).
      responses:
        "200":
          description: Next interview state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InterviewState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Feature disabled }
        "409":
          description: Onboarding already complete, terms not accepted or language not selected
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/chat/upload:
    post:
      tags: [chat]
      operationId: uploadChatImage
      summary: Upload a chat image (multipart field `image`, ≤8 MB)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
      responses:
        "201":
          description: Opaque storage path + signed render URL (5-min TTL)
          content:
            application/json:
              schema:
                type: object
                required: [imageUrl, signedUrl]
                properties:
                  imageUrl: { type: string }
                  signedUrl: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "413":
          description: File too large
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: Storage unavailable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/chat/message:
    post:
      tags: [chat]
      operationId: sendChatMessage
      summary: Send a chat turn (text and/or previously uploaded image)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text: { type: string, maxLength: 4000 }
                imageUrl:
                  type: string
                  description: >-
                    Path returned by /v1/chat/upload; must be owned by the
                    caller. One photo — the field older builds send. With
                    `imageUrls` it is the first of them.
                imageUrls:
                  type: array
                  maxItems: 10
                  items: { type: string }
                  description: >-
                    Several photos in ONE turn, in the order the person picked
                    them (album parity with Telegram, up to 10). Every path
                    must be owned by the caller — one foreign path refuses the
                    whole turn. The agent sees all of them and answers once.
                context:
                  $ref: "#/components/schemas/ChatContextRef"
                  description: >-
                    The inbox item the person opened the chat from ("Обсудить с
                    агентом"). A reference only — the server resolves the words
                    and grounds this turn and the follow-ups of the next six
                    hours on them. Omit for an ordinary message.
      responses:
        "200":
          description: Assistant reply
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { $ref: "#/components/schemas/ChatMessage" }
                  uiHint:
                    $ref: "#/components/schemas/UiHint"
                    description: Always null for chat-agent turns today; contract slot for future hints
                  receipts:
                    type: array
                    items: { type: string }
                    description: >-
                      Code-owned confirmations of writes that ACTUALLY landed,
                      already localised to the account language. Absent when the
                      turn changed nothing. Render them after the reply, as
                      Telegram does: without them the only evidence of a profile
                      change is the model's own prose, which it is free to
                      phrase however it likes — including describing an edit
                      that silently failed.
                  action:
                    $ref: "#/components/schemas/AgentAction"
                    description: >-
                      A native affordance the agent asked for but cannot render
                      itself. Absent on an ordinary turn. Nothing here mutates
                      anything: every irreversible action stays behind a control
                      the person still has to tap.
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Image not owned by caller
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: >-
            `context` names an inbox item that does not exist or is not the
            caller's (the same answer for both)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413":
          description: Text too long
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/chat/voice:
    post:
      tags: [chat]
      operationId: sendChatVoice
      summary: Send a voice note as a chat turn
      description: |
        Twin of `/v1/assistant/voice`, and not duplication: the two surfaces keep
        their own loops and their own history stores, and share only Whisper and
        the tool set.

        The transcript comes back with the reply on purpose — the person has to
        see what the agent actually heard, otherwise a misheard sentence reads
        as their own mistake rather than the machine's.

        No image can ride along: a recording and an attachment are separate
        turns.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                contextKind:
[...]
