openapi: 3.1.0
info:
  title: Gennety Public API (mobile surface)
  version: 1.0.0
  description: |
    Contract for the native mobile client (Gennety-iOS). Covers the JWT-authed
    `/v1/*` surface the MVP client consumes. Source of truth for shapes is the
    route code in `apps/bot/src/public/` — this spec MUST be updated in the
    same commit as any change to those routes (see AGENTS.md documentation
    impact check). The Swift client is generated from this file
    (`swift-openapi-generator` in the Gennety-iOS repo).

    Endpoints authed with Telegram `initData` HMAC (calendar, tickets,
    venue-change, feedback, telegram-onboarding) are intentionally NOT here —
    they are Mini App-only. Mobile variants will be added as they are built.
  contact:
    name: Gennety Dating

servers:
  - url: https://dating-api.gennety.com
    description: Production

tags:
  - name: system
  - name: auth
  - name: me
  - name: onboarding
  - name: chat
  - name: matches
  - name: countdown

security:
  - bearerAuth: []

paths:
  /v1/ping:
    get:
      tags: [system]
      operationId: ping
      summary: Liveness probe
      security: []
      responses:
        "200":
          description: Server is alive
          content:
            application/json:
              schema:
                type: object
                required: [ok, now]
                properties:
                  ok: { type: boolean, const: true }
                  now: { type: string, format: date-time }

  /v1/app/config:
    get:
      tags: [system]
      operationId: getAppConfig
      summary: Pre-auth mobile bootstrap — forced-update kill switch + feature flags
      description: |
        Unauthenticated by design: the client must learn "update required"
        before it can log in. `minSupportedIosVersion` null → no forced update.
      security: []
      responses:
        "200":
          description: Client bootstrap payload
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AppConfig" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/auth/otp/request:
    post:
      tags: [auth]
      operationId: requestEmailOtp
      summary: Send a one-time code to a university email (student track)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: OTP sent
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: Email provider failure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/auth/otp/verify:
    post:
      tags: [auth]
      operationId: verifyEmailOtp
      summary: Verify the emailed code and mint tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, otp]
              properties:
                email: { type: string, format: email }
                otp:
                  type: string
                  pattern: "^\\d{4,8}$"
      responses:
        "200":
          description: Tokens + serialized user
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthTokens" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: Code mismatch
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/auth/phone/request:
    post:
      tags: [auth]
      operationId: requestPhoneCode
      summary: Send a verification code to a phone (general track)
      description: |
        Provider fork is server-side — Twilio SMS by default
        (`PHONE_CODE_PRIMARY_PROVIDER`), Telegram Gateway as an optional
        secondary rail; `channel: "sms"` always forces Twilio. The client
        only reads `deliveredVia` for the status line. 404 while
        `PHONE_AUTH_ENABLED` is off.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone:
                  type: string
                  description: E.164 (lenient — spaces/dashes tolerated, `+` optional)
                channel:
                  type: string
                  enum: [sms]
                  description: Force the SMS rail, skipping Telegram Gateway
      responses:
        "200":
          description: Code sent
          content:
            application/json:
              schema:
                type: object
                required: [ok, deliveredVia, expiresAt, resendAvailableAt]
                properties:
                  ok: { type: boolean, const: true }
                  deliveredVia:
                    type: string
                    enum: [telegram, sms]
                  expiresAt: { type: string, format: date-time }
                  resendAvailableAt: { type: string, format: date-time }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: Phone rail disabled (`PHONE_AUTH_ENABLED` off)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          description: Cooldown (carries `resendAvailableAt`), daily cap, or rate limit
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: No delivery rail available
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/auth/phone/verify:
    post:
      tags: [auth]
      operationId: verifyPhoneCode
      summary: Verify the phone code and mint tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone: { type: string }
                code:
                  type: string
                  pattern: "^\\d{4,8}$"
      responses:
        "200":
          description: Tokens + serialized user (created on first verify)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthTokens" }
        "400":
          description: Invalid payload, expired, exhausted, or no pending code
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Code mismatch
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Phone rail disabled (`PHONE_AUTH_ENABLED` off)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: Verification provider unavailable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/auth/telegram:
    post:
      tags: [auth]
      operationId: loginWithTelegram
      summary: Exchange a Telegram OIDC ID token for our session
      security: []
      description: |
        "Continue with Telegram". The client runs Telegram's official iOS Login
        SDK, which hands control to the installed Telegram app and returns a
        signed OpenID Connect ID token; this endpoint verifies that token
        against Telegram's published keys (RS256, issuer
        `https://oauth.telegram.org`, audience = our bot's Client ID) and mints
        our own access/refresh pair.

        No client secret is involved anywhere: we verify an already-issued ID
        token and never exchange an authorization code.

        Account resolution is what makes the bot and the app one product. The
        token's subject IS `User.telegramId`, so someone who has been talking to
        the bot lands in their existing profile. Failing that, a **verified**
        `phone_number` claim matches the same human's app account (`User.phone`
        is the cross-rail login key). Otherwise a new account is created.

        The number is trusted only when `phone_number_verified` is true, and it
        satisfies the general track's contact gate — a Telegram login therefore
        costs no SMS.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [idToken]
              properties:
                idToken:
                  type: string
                  description: The ID token returned by the Telegram Login SDK.
      responses:
        "200":
          description: Tokens + serialized user (created on first login)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthTokens" }
        "400":
          description: Missing `idToken`
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: |
            Signature, issuer, audience, expiry or subject is not acceptable.
            Terminal — retrying the same token cannot help.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: |
            `code: "account_conflict"` — the verified number belongs to one
            account and this Telegram identity to another. Both are real; the
            merge is a support decision, so the client points the user at
            @gennetysupport rather than choosing for them.
          content:
            application/json:
              schema:
                type: object
                required: [error, code]
                properties:
                  error: { type: string }
                  code: { type: string, enum: [account_conflict] }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: |
            Telegram's key set could not be reached. **Retryable** — this is our
            outage, not a bad login, and the client must say so.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: Telegram login not configured (`TELEGRAM_LOGIN_CLIENT_ID` empty)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/auth/refresh:
    post:
      tags: [auth]
      operationId: refreshTokens
      summary: Rotate the refresh token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        "200":
          description: Fresh token pair (no user payload)
          content:
            application/json:
              schema:
                type: object
                required: [accessToken, refreshToken, expiresIn]
                properties:
                  accessToken: { type: string }
                  refreshToken: { type: string }
                  expiresIn: { type: integer, description: Access TTL in seconds }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: Invalid or expired refresh token
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/me:
    get:
      tags: [me]
      operationId: getMe
      summary: Current user + profile
      responses:
        "200":
          description: User with optional profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [me]
      operationId: patchMe
      summary: Edit the mutable profile slice
      description: |
        Editable: `major` (user); `hobbies`, `partnerPreferences`,
        `psychologicalSummary`, `ageRangeMin`, `ageRangeMax` (profile, nested
        under `profile`). Fixed identity fields are silently ignored.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                major: { type: [string, "null"], maxLength: 120 }
                profile:
                  type: object
                  properties:
                    hobbies:
                      type: [array, "null"]
                      maxItems: 10
                      items: { type: string, maxLength: 50 }
                    partnerPreferences: { type: [string, "null"] }
                    psychologicalSummary: { type: [string, "null"] }
                    ageRangeMin: { type: [integer, "null"] }
                    ageRangeMax: { type: [integer, "null"] }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [me]
      operationId: deleteAccount
      summary: GDPR account deletion (storage erasure + relational cascade)
      responses:
        "204": { description: Account deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503":
          description: Storage cleanup unavailable — account preserved, retry
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/status:
    patch:
      tags: [me]
      operationId: setMatchmakingStatus
      summary: Pause/resume matching (the "Сегодня" gesture)
      description: |
        Allowed transitions: active→paused, paused→active, frozen→active
        (silent reactivation on app return). Same-state requests are
        idempotent. onboarding/suspended/banned/pending_investigation → 409.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [active, paused]
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Transition not allowed from the current status
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/freeze:
    post:
      tags: [me]
      operationId: freezeAccount
      summary: Soft-delete alternative — leave the pool, keep everything
      description: |
        Telegram Settings parity: cancels in-flight matches (partner is
        notified/compensated), keeps profile/verification/embedding intact,
        flips to `frozen`. Reactivate via PATCH /v1/me/status {active}.
        Idempotent when already frozen.
      responses:
        "200":
          description: Updated user + profile (status frozen)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Freeze not allowed from the current status
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/location:
    post:
      tags: [me]
      operationId: setRawLocation
      summary: Persist raw home-base coordinates (Meet-Halfway baseline)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [latitude, longitude]
              properties:
                latitude: { type: number, minimum: -90, maximum: 90 }
                longitude: { type: number, minimum: -180, maximum: 180 }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/home-location:
    post:
      tags: [me]
      operationId: setHomeLocation
      summary: Persist the canonical dating city (matching eligibility gate)
      description: |
        The city must be one of `AppConfig.supportedCities` — anything else is
        rejected with `city-not-supported` (400). The resolved market's own
        name and coordinates are stored: the request only selects WHICH market.
        Also the endpoint an existing account uses to move to a launched city.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [homeCity, homeCountryCode, latitude, longitude]
              properties:
                homeCity: { type: string, maxLength: 120 }
                homeCountryCode:
                  type: string
                  pattern: "^[A-Za-z]{2,8}$"
                homeCityKey:
                  type: string
                  maxLength: 160
                  description: Optional — server derives `cc:city-slug` when absent
                homePlaceId: { type: [string, "null"], maxLength: 256 }
                latitude: { type: number, minimum: -90, maximum: 90 }
                longitude: { type: number, minimum: -180, maximum: 180 }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400":
          description: Invalid payload, or `city-not-supported` for an unlaunched city
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/referral:
    get:
      tags: [me]
      operationId: getReferral
      summary: Referral ladder state — progress, $ value per rung, invite link
      description: >-
        Feature-flagged (`REFERRAL_FEATURE_ENABLED`; 404 when off). The referrer
        is paid Date Tickets + Premium months as each invited friend clears
        verification; every rung carries its cumulative dollar value.
      responses:
        "200":
          description: Ladder + progress + invite link
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReferralState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: "Referral feature disabled, or user not found" }

  /v1/me/referral/claim:
    post:
      tags: [me]
      operationId: claimReferral
      summary: Attribute this user to a referrer by code (first-touch, guarded)
      description: >-
        First-touch only — never overwrites an existing attribution. Rejects a
        self-referral and an unknown code. The reward is paid to the referrer
        later, when THIS user clears verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  maxLength: 64
                  description: The referrer's invite code (their user id)
      responses:
        "200":
          description: Attribution applied
          content:
            application/json:
              schema:
                type: object
                required: [applied]
                properties:
                  applied: { type: boolean, enum: [true] }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Referral feature disabled }
        "409":
          description: Not applied (self-referral, unknown code, or already attributed)
          content:
            application/json:
              schema:
                type: object
                required: [applied]
                properties:
                  applied: { type: boolean, enum: [false] }
                  reason: { type: string }

  /v1/me/promo/claim-deferred:
    post:
      tags: [me]
      operationId: claimPromoDeferred
      summary: Attribute this new user to a promo code (iOS deferred deep link)
      description: >-
        Feature-flagged (`PROMO_FEATURE_ENABLED`; 404 when off). First-launch
        resolves the effective promo code from either the clipboard-carried
        value (`code`, optional `GENNETY:` prefix) or a coarse device-fingerprint
        match against a recent promo landing-page touch, then first-touch
        attributes this user (never overwrites an existing attribution). The
        welcome gift itself is granted later at the wow screen via
        `/v1/me/promo/claim`. New users only.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  maxLength: 64
                  description: >-
                    Promo code read from the clipboard (with or without the
                    `GENNETY:` prefix). Omit to rely on fingerprint matching.
      responses:
        "200":
          description: Attribution result (attributed=false when no code resolved)
          content:
            application/json:
              schema:
                type: object
                required: [attributed]
                properties:
                  attributed: { type: boolean }
                  reason: { type: string }
                  code: { type: [string, "null"] }
                  tickets: { type: integer }
                  months: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Promo feature disabled }

  /v1/me/promo/claim:
    post:
      tags: [me]
      operationId: claimPromo
      summary: Grant the promo welcome gift (Date Ticket + Premium months)
      description: >-
        Feature-flagged (`PROMO_FEATURE_ENABLED`; 404 when off). Idempotent —
        grants the promo-attributed user their one-time Date Ticket + Premium
        months at the native wow screen. Twin of the Telegram
        `/v1/telegram-onboarding/promo-gift`. Applied=false when there is nothing
        to grant (not a promo user, code no longer redeemable, or already
        redeemed).
      responses:
        "200":
          description: Grant result
          content:
            application/json:
              schema:
                type: object
                required: [applied]
                properties:
                  applied: { type: boolean }
                  code: { type: [string, "null"] }
                  tickets: { type: integer }
                  months: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { description: Promo feature disabled }

  /v1/me/preferences:
    patch:
      tags: [me]
      operationId: patchPreferences
      summary: Update match radius preference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [matchRadius]
              properties:
                matchRadius: { $ref: "#/components/schemas/MatchRadius" }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/push-token:
    post:
      tags: [me]
      operationId: registerPushToken
      summary: Register the device push token
      description: |
        One token per user row; silent overwrite on re-registration.
        The native iOS client sends `platform: "apns"` (delivery is direct
        APNs; the legacy default remains `expo` for wire-compat only).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
                platform:
                  type: string
                  maxLength: 16
                  default: expo
                  examples: [apns]
      responses:
        "200":
          description: Registered
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/live-activity-token:
    post:
      tags: [me]
      operationId: registerLiveActivityToken
      summary: Register an ActivityKit push token (start or update)
      description: |
        One registration per (user, activityType, kind) — re-registration
        upserts in place. The server uses `update` tokens to drive the
        "match decision" and "date day" Live Activities via APNs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [activityType, kind, token]
              properties:
                activityType:
                  type: string
                  enum: [match_decision, date_day]
                kind:
                  type: string
                  enum: [start, update]
                token: { type: string, maxLength: 200 }
                matchId: { type: string }
      responses:
        "200":
          description: Registered
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/live-activity-token/{activityType}/{kind}:
    delete:
      tags: [me]
      operationId: deleteLiveActivityToken
      summary: Drop a registration when the activity ends locally
      parameters:
        - name: activityType
          in: path
          required: true
          schema:
            type: string
            enum: [match_decision, date_day]
        - name: kind
          in: path
          required: true
          schema:
            type: string
            enum: [start, update]
      responses:
        "204": { description: Deleted (idempotent) }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/blocks:
    get:
      tags: [me]
      operationId: listBlockedUsers
      summary: People this user has blocked
      description: |
        Newest first. Shows only who the caller blocked — the reverse direction
        is not readable by anybody. A first name and a date is everything
        returned: enough to recognise a mistake and undo it, no more.
      responses:
        "200":
          description: Blocked list
          content:
            application/json:
              schema:
                type: object
                required: [blocks]
                properties:
                  blocks:
                    type: array
                    items:
                      type: object
                      required: [userId, firstName, blockedAt]
                      properties:
                        userId: { type: string, format: uuid }
                        firstName: { type: [string, "null"] }
                        blockedAt: { type: string, format: date-time }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/blocks/{userId}:
    delete:
      tags: [me]
      operationId: unblockUser
      summary: Lift a block
      description: |
        Removes the record only. The cancelled date is not restored and the two
        are still kept apart by the lifetime pair ban — this exists for a block
        filed by mistake.
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204": { description: Block lifted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: No such block
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/verification:
    get:
      tags: [me]
      operationId: getVerificationStatus
      summary: Read-only verification status
      responses:
        "200":
          description: Current status
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { $ref: "#/components/schemas/VerificationStatus" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/verification/consent:
    post:
      tags: [me]
      operationId: recordBiometricConsent
      summary: Record explicit consent to biometric processing
      description: |
        GDPR Art. 9(2)(a) requires an **explicit** act of consent for biometric
        processing specifically — the general Terms tick at sign-up is not one,
        and neither is tapping a button labelled "Verify".

        Call this when the user confirms on a dedicated consent screen that
        states what is captured, who processes it (AWS, in the EU), how long the
        reference still is kept (90 days), and what declining means (they are
        not matched). `native-init` answers `409` until this has succeeded.

        Idempotent: the first consent's timestamp is preserved on repeat calls,
        and only the recorded document version is refreshed.
      responses:
        "200":
          description: Consent recorded
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: { type: boolean, enum: [true] }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503":
          description: Consent could not be recorded — do NOT start the check
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/verification/native-init:
    get:
      tags: [me]
      operationId: getNativeVerificationConfig
      summary: Mint an AWS Face Liveness session for the native client
      description: |
        Returns the session id, region, and short-lived AWS credentials that
        `FaceLivenessDetectorView(sessionID:region:credentialsProvider:)`
        needs to stream its selfie video straight to Rekognition. The video
        never passes through our server. Flips verificationStatus to
        `pending` — with one exception, below.

        An already-verified user is refused with `409`, because re-running
        would burn a check for no decision. The exception is a verified user
        whose reference selfie the 90-day retention scrub removed: they are
        admitted, because that is the only way to satisfy the
        `409 reference_expired` a photo upload answers with. Such a user keeps
        `verified` for the whole check — matching admits `verified` only, so a
        downgrade would drop them out of the pool over a photo edit.

        **The session expires 3 minutes after this call**, taking its
        reference image with it. Present the detector immediately and report
        the result to `native-event` in the same sitting; a stale session
        cannot be resumed, only replaced by a new one.

        Credentials are clamped server-side to
        `rekognition:StartFaceLivenessSession` and last ~15 minutes. Only the
        face-match pipeline can write `verified`/`rejected`.

        Replaces the Persona Inquiry SDK config. The hosted-flow endpoint
        `GET /v1/me/verification/url` was removed with the provider.
      responses:
        "200":
          description: Liveness session + scoped credentials
          content:
            application/json:
              schema:
                type: object
                required: [sessionId, region, credentials, language]
                properties:
                  sessionId:
                    type: string
                    format: uuid
                    description: Single-use. A new check needs a new session.
                  region:
                    type: string
                    example: eu-central-1
                    description: Must match the region the detector streams to.
                  credentials: { $ref: "#/components/schemas/LivenessCredentials" }
                  language: { $ref: "#/components/schemas/Language" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: |
            Two different situations, told apart by `code` — never by the
            human-readable `error` string:

            - `already_verified` — no session is minted; the client shows a
              "you're verified" state.
            - `consent_required` — the user has not yet passed through
              `POST /v1/me/verification/consent`. Show the consent screen,
              record the consent, then retry this call once.

            A client that treats every `409` as "verified" leaves the user
            tapping a button that silently does nothing, which is exactly what
            happened before `code` existed.
          content:
            application/json:
              schema:
                type: object
                required: [error, code]
                properties:
                  error: { type: string }
                  code:
                    type: string
                    enum: [already_verified, consent_required]
        "429": { $ref: "#/components/responses/RateLimited" }
        "503":
          description: Liveness not configured, or the provider is unavailable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/verification/native-event:
    post:
      tags: [me]
      operationId: reportNativeVerificationEvent
      summary: Report the terminal event from the native liveness detector
      description: |
        `complete` reads AWS's verdict **inside this request** — the session
        dies 3 minutes after `native-init`, so there is no later chance — and
        starts the face-match pipeline on a pass. `cancel`/`error` are logged
        only.

        The `outcome` tells the client what to show next: `processing` means
        the check passed and face-matching is running (the terminal result
        arrives by push, or poll `GET /v1/me/verification`); `retry` means
        liveness could not be confirmed. `retry` is NOT a rejection and
        changes no verification state — mint a new session and try again.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind]
              properties:
                kind:
                  type: string
                  enum: [complete, cancel, error]
                sessionId:
                  type: string
                  maxLength: 64
                  description: Required when `kind` is `complete`.
                message: { type: string, maxLength: 512 }
      responses:
        "200":
          description: Acknowledged
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: { type: boolean }
                  outcome:
                    type: string
                    enum: [processing, retry]
                    description: Present only when kind is `complete`.
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503":
          description: Could not read the verdict — the check can be re-run
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/feedback/pending:
    get:
      tags: [me]
      operationId: getPendingFeedback
      summary: The date this caller still owes post-date feedback on
      description: |
        PRODUCT_SPEC §Phase 4.3. Exists because there is no other way for the
        app to learn a form is waiting: `/v1/matches/current` deliberately
        excludes `completed` (`ACTIVE_MATCH_STATUSES`), so the moment the date
        closes out the match disappears from every surface the client polls.
        In Telegram the T+24h DM carries the link and no discovery is needed;
        the app has no such carrier, which is why this endpoint is the native
        half of the feature rather than a convenience.

        Gated on `feedbackPromptedAt` — the same one-shot marker the lifecycle
        tick writes — not on `completed` alone. Asking earlier would surface
        the form minutes after the date, while one of them may still be at the
        table.

        `pending` is **null** when nothing is owed. That is the ordinary state
        of this endpoint, so it is not an error and a polling client must not
        have to treat the common case as one.
      responses:
        "200":
          description: The pending form, or null
          content:
            application/json:
              schema:
                type: object
                description: |
                  `pending` is OPTIONAL rather than a nullable union, and that
                  is load-bearing: `oneOf: [$ref, "null"]` is the shape
                  swift-openapi-generator drops in silence (see
                  `SerializedUser.gender`). The server still sends an explicit
                  `null` when nothing is owed; an optional property decodes
                  that to absent, so the wire is unchanged and the property
                  actually exists in the generated client.
                properties:
                  pending: { $ref: "#/components/schemas/PendingFeedback" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/feedback/post-date:
    post:
      tags: [me]
      operationId: submitPostDateFeedback
      summary: Submit post-date feedback (chemistry, second date, notes)
      description: |
        The JWT twin of the Mini App's `POST /v1/feedback/post-date`. Both call
        `services/post-date-feedback.ts`, so the two surfaces cannot disagree
        about what counts as an answer — which matters more here than usual,
        because this form is the only place the product learns whether a date
        worked, and two implementations would quietly build two datasets.

        The structured answers are composed into the single text blob the LLM
        analyst reads; no new columns are written for them. Answering twice
        overwrites the caller's own previous answer.

        Unlike the Mini App twin this sends **no thank-you DM**: that surface
        can assume a bot chat exists because the request was signed by one,
        this one cannot, and a message nobody receives is not a confirmation.
        The 200 is the confirmation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [matchId, chemistry, wantsSecondDate]
              properties:
                matchId: { type: string, format: uuid }
                chemistry:
                  type: integer
                  minimum: 1
                  maximum: 10
                  description: |
                    Refused rather than clamped when out of range. A 0 or an 11
                    is a client bug, and rounding one into the dataset is worse
                    than a 400.
                wantsSecondDate:
                  type: string
                  enum: [yes, maybe, no]
                text:
                  type: string
                  maxLength: 1000
                  description: |
                    Optional. An empty comment is a legitimate answer — the
                    slider and the segment already carry signal.
                venueFit:
                  type: string
                  enum: [yes, partly, no]
                  description: |
                    Did the venue match the vibe the pair asked for. OPTIONAL
                    rather than nullable: `enum: [..., null]` makes
                    swift-openapi-generator emit a fourth case spelled `""`,
                    which serialises to a value the server rejects — a foot-gun
                    sitting in `allCases` of an enum a client will iterate to
                    build chips. Omitting the property says the same thing to
                    `normaliseFeedback`, which coerces anything unrecognised to
                    `null`. Same family as the `oneOf: [$ref, "null"]` trap; see
                    `SerializedUser.gender`.
                venueFitReasons:
                  type: array
                  maxItems: 3
                  items:
                    type: string
                    enum: [wrong_vibe, too_loud, too_expensive, route_unfair, accessibility, closed_or_unavailable]
                language:
                  type: string
                  enum: [en, ru, uk, de, pl]
                  description: |
                    Optional hint. Falls back to `User.language`, because the
                    analyst prompt is language-agnostic and a comment in one
                    language under a header in another reads to it as two
                    voices.
      responses:
        "200":
          description: Recorded. Carries whatever is still pending afterwards.
          content:
            application/json:
              schema:
                type: object
                description: |
                  `pending` is OPTIONAL rather than a nullable union, and that
                  is load-bearing: `oneOf: [$ref, "null"]` is the shape
                  swift-openapi-generator drops in silence (see
                  `SerializedUser.gender`). The server still sends an explicit
                  `null` when nothing is owed; an optional property decodes
                  that to absent, so the wire is unchanged and the property
                  actually exists in the generated client.
                properties:
                  pending: { $ref: "#/components/schemas/PendingFeedback" }
        "400":
          description: |
            `bad-chemistry`, `bad-second-date`, or `empty-text` (nothing at all
            was said, which the analyst cannot use).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: The caller is not on this match.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: No such match.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: |
            `wrong-state` — the date has not been closed out yet. Deliberately
            not a 404: the match exists and the caller is on it, and a 404
            would send the client looking for a routing bug that is not there.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/voice-prompt:
    get:
      tags: [me]
      operationId: getMyVoicePrompt
      summary: The caller's own voice prompt, if they recorded one
      description: |
        404 while `VOICE_PROMPT_ENABLED` is off — which is also how a client
        learns to hide the step, rather than shipping a screen that saves
        nothing.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  voicePrompt:
                    $ref: "#/components/schemas/MyVoicePrompt"
        "404": { description: Feature disabled }
    post:
      tags: [me]
      operationId: setMyVoicePrompt
      summary: Commit a recording as the caller's voice prompt
      description: |
        Replaces whatever was there — there is no history and nothing to
        reconcile. Validation is safety-only (no identity gate, no voice
        printing): the clip is transcribed, the transcript is moderated, and
        it is refused if it hands out a way to contact the speaker off-platform.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [audio, durationSec]
              properties:
                audio:
                  type: string
                  description: base64 audio bytes, at most `VOICE_PROMPT_MAX_FILE_SIZE_BYTES`
                durationSec: { type: integer, minimum: 1 }
                mimeType: { type: string }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  voicePrompt:
                    $ref: "#/components/schemas/MyVoicePrompt"
        "400": { description: Malformed request }
        "422":
          description: |
            The request is well-formed and the CONTENT is refused. `error`
            carries the reason (`voice_too_short`, `voice_too_long`,
            `unsafe_content`, `audio_contact_info`, `processing_unavailable`)
            and `retryable` says whether re-recording is the fix or whether the
            same clip is worth sending again.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
                  retryable: { type: boolean }
        "404": { description: Feature disabled }
        "503": { description: Storage unavailable }
    delete:
      tags: [me]
      operationId: deleteMyVoicePrompt
      summary: Remove the voice prompt
      description: |
        Also re-embeds: a deleted recording must stop influencing matching, or
        it becomes a ghost the user cannot see or clear.
      responses:
        "200": { description: Removed }
        "404": { description: Feature disabled }

  /v1/me/voice-prompt/upload-url:
    post:
      tags: [me]
      operationId: getVoicePromptUploadUrl
      summary: Bounds for a voice-prompt upload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contentType]
              properties:
                contentType: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadUrl:
                    type: [string, "null"]
                    description: Reserved for a true presigned PUT; null means POST the bytes.
                  maxBytes: { type: integer }
                  minDurationSec: { type: integer }
                  maxDurationSec: { type: integer }
        "400": { description: Not an audio content type }
        "404": { description: Feature disabled }

  /v1/me/photos:
    get:
      tags: [me]
      operationId: listPhotos
      summary: Ordered profile photo paths + signed render URLs (10-min TTL)
      responses:
        "200":
          description: Photo list
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotosResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [me]
      operationId: uploadPhoto
      summary: Upload one profile photo (multipart field `photo`, ≤8 MB; profile max 10)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [photo]
              properties:
                photo:
                  type: string
                  format: binary
      responses:
        "201":
          description: Accepted and committed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotoUploadResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: |
            Photo limit reached, duplicate, or `code: "reference_expired"`.

            `reference_expired` is not a verdict on this photo: the 90-day
            retention scrub removed the verification selfie the server matches
            faces against, and AWS cannot re-issue it. Retrying the upload
            achieves nothing — send the user through `native-init` +
            `native-event` once more, then re-upload the SAME bytes rather
            than asking them to pick the photo again. Note the new reference
            is stored when the face-match pipeline finishes, not when
            `native-event` answers `processing`, so allow a short bounded
            retry.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413":
          description: File too large
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: Validation rejection (no face, obscured, identity mismatch, unsafe)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotoRejection" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: Storage/vision unavailable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: Validation temporarily unavailable — retry
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/photos/{index}:
    delete:
      tags: [me]
      operationId: deletePhoto
      summary: Remove a photo by array index
      parameters:
        - name: index
          in: path
          required: true
          schema: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Remaining photos
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotosResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Active users cannot drop below the minimum photo count
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/onboarding/consent:
    post:
      tags: [onboarding]
      operationId: recordConsent
      summary: Record ToS acceptance (+ optional research opt-in)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [termsAccepted]
              properties:
                termsAccepted: { type: boolean, const: true }
                researchOptIn: { type: boolean, default: false }
                language:
                  $ref: "#/components/schemas/Language"
                  description: >
                    From the system locale (no picker). Advances onboarding to
                    the conversational interview once terms + language + a
                    verified contact rail are all set.
      responses:
        "200":
          description: Updated user
          content:
            application/json:
              schema:
                type: object
                required: [user]
                properties:
                  user: { $ref: "#/components/schemas/SerializedUser" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/onboarding/interview:
    get:
      tags: [onboarding]
      operationId: getInterviewState
      summary: Resume the server-owned conversational onboarding
      responses:
        "200":
          description: Current interview state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InterviewState" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/onboarding/interview/answer:
    post:
      tags: [onboarding]
      operationId: answerInterview
      summary: Send a text answer to the onboarding collector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  maxLength: 32000
                  description: >-
                    Ordinary interview answers are limited to 4,000 characters.
                    When the server-owned current question is `context_dump`, the
                    complete AI-memory JSON response may use up to 32,000.
      responses:
        "200":
          description: Next interview state (with the agent's reply as `question`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InterviewState" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: Terms not accepted or language not selected yet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/onboarding/interview/voice:
    post:
      tags: [onboarding]
      operationId: answerInterviewVoice
      summary: Send a voice answer (multipart field `file`, transcribed server-side)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Next interview state; `acknowledgement` carries the transcript
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InterviewState" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: Terms not accepted or language not selected yet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: Transcription failed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/chat/upload:
    post:
      tags: [chat]
      operationId: uploadChatImage
      summary: Upload a chat image (multipart field `image`, ≤8 MB)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
      responses:
        "201":
          description: Opaque storage path + signed render URL (5-min TTL)
          content:
            application/json:
              schema:
                type: object
                required: [imageUrl, signedUrl]
                properties:
                  imageUrl: { type: string }
                  signedUrl: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "413":
          description: File too large
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: Storage unavailable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/chat/message:
    post:
      tags: [chat]
      operationId: sendChatMessage
      summary: Send a chat turn (text and/or previously uploaded image)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text: { type: string, maxLength: 4000 }
                imageUrl:
                  type: string
                  description: Path returned by /v1/chat/upload; must be owned by the caller
      responses:
        "200":
          description: Assistant reply
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { $ref: "#/components/schemas/ChatMessage" }
                  uiHint:
                    $ref: "#/components/schemas/UiHint"
                    description: Always null for chat-agent turns today; contract slot for future hints
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Image not owned by caller
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413":
          description: Text too long
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/chat/history:
    get:
      tags: [chat]
      operationId: getChatHistory
      summary: Oldest-first history slice for hydrating the chat view
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: Messages with fresh signed image URLs
          content:
            application/json:
              schema:
                type: object
                required: [messages]
                properties:
                  messages:
                    type: array
                    items: { $ref: "#/components/schemas/ChatHistoryMessage" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/tickets/appstore/transaction:
    post:
      tags: [me]
      operationId: reportAppStoreTransaction
      summary: Report a StoreKit 2 consumable purchase for wallet credit
      description: |
        Send `transaction.jwsRepresentation` after a successful purchase.
        The server extracts the transactionId (decode only), verifies it
        authoritatively via the App Store Server API, and credits the ticket
        wallet exactly-once. Call `transaction.finish()` only after a 2xx —
        an unprocessed purchase must be re-reported on next launch.
        Idempotent: a duplicate report answers 200 with `credited: 0`.
        404 while tickets are feature-disabled.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jws]
              properties:
                jws: { type: string, maxLength: 20000 }
      responses:
        "200":
          description: Credited (or already processed)
          content:
            application/json:
              schema:
                type: object
                required: [ok, credited, balance]
                properties:
                  ok: { type: boolean, const: true }
                  credited: { type: integer, description: 0 when already processed }
                  balance: { type: integer }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Ticket feature disabled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: Transaction rejected (unknown/foreign/revoked/unknown product)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: App Store verification unavailable — keep the transaction unfinished and retry
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/premium/appstore/transaction:
    post:
      tags: [me]
      operationId: reportAppStorePremiumTransaction
      summary: Report a StoreKit 2 auto-renewable Premium subscription transaction
      description: |
        Send the subscription `transaction.jwsRepresentation` after a purchase
        or on app launch when a renewal is observed. The server extracts the
        transactionId (decode only), verifies it authoritatively via the App
        Store Server API, and activates/extends Gennety Premium to Apple's
        `expiresDate` exactly-once. Renewals also arrive via the App Store
        Server Notifications webhook, so this endpoint is idempotent. A refunded
        or revoked transaction ends the entitlement. 404 while Premium is
        feature-disabled.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [jws]
              properties:
                jws: { type: string, maxLength: 20000 }
      responses:
        "200":
          description: Activated, already processed, or revoked
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: { type: boolean, const: true }
                  active: { type: boolean }
                  premiumUntil:
                    type: [string, "null"]
                    format: date-time
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Premium feature disabled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: Transaction rejected (unknown/foreign/not the premium product/no expiry)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: App Store verification unavailable — keep the transaction unfinished and retry
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/client/events:
    post:
      tags: [me]
      operationId: postClientEvents
      summary: Client-only funnel events the server cannot observe
      description: |
        Batch sink for the native app's own funnel (iOS task 6.2). It carries
        ONLY what the server is blind to by construction: leaving an onboarding
        step before submitting, a denied system permission, the outcome of the
        native liveness check, a paywall or ticket gate shown without a
        purchase, a fatal client error. Anything that is an API call is already
        observed server-side, and duplicating it here would create a second
        source of truth.

        **Auth is optional.** Half of these events happen before an account
        exists, so requiring a token would drop exactly the part of the funnel
        this endpoint is for. Without a token the person is identified only by
        the anonymous `installId` (not IDFV, not an advertising id).

        **No PII and no free text, enforced on ingest**: `props` values must
        match `^[a-z0-9_]{1,32}$`, which cannot hold a name, a phone or a
        coordinate. Values are checked by SHAPE rather than against a list, so
        a newer client shipping a new enum case is not dropped until the server
        redeploys.

        **An unknown `type` is dropped and counted in `dropped`, never fails
        the batch** — client and server ship independently, and a shipped App
        Store build lives for months.

        `id` is a client-generated UUID and the idempotency key: redelivering a
        batch stores nothing twice. `at` is the DEVICE clock (a pre-auth batch
        has no server time in it), so the row also stores the server's own
        receive time; analysis that trusts `at` alone is misled by a skewed
        phone. Rows are erased after 90 days, and sooner for a signed-in person
        whose account is deleted. 404 while the sink is feature-disabled.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [installId, events]
              properties:
                installId:
                  type: string
                  maxLength: 64
                  description: Anonymous per-install UUID generated by the client.
                app:
                  type: object
                  properties:
                    version: { type: string, maxLength: 32 }
                    build: { type: string, maxLength: 32 }
                    os: { type: string, maxLength: 32 }
                    locale: { type: string, maxLength: 32 }
                events:
                  type: array
                  maxItems: 200
                  items:
                    type: object
                    required: [id, type, at]
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Client-generated; the idempotency key.
                      type:
                        type: string
                        enum:
                          - onboarding_step_left
                          - permission_prompted
                          - permission_denied
                          - liveness_finished
                          - paywall_shown
                          - paywall_dismissed
                          - ticket_gate_shown
                          - ticket_gate_dismissed
                          - fatal_client_error
                      at:
                        type: string
                        format: date-time
                        description: Device clock at the moment of the event.
                      props:
                        type: object
                        description: |
                          At most one key, fixed per type: `step`,
                          `permission`, `outcome`, `surface` or `domain`.
                          Values are closed client enums.
                        additionalProperties:
                          type: string
                          maxLength: 32
      responses:
        "200":
          description: Batch taken
          content:
            application/json:
              schema:
                type: object
                required: [ok, accepted, dropped]
                properties:
                  ok: { type: boolean, const: true }
                  accepted:
                    type: integer
                    description: Events we now hold, including ones already stored.
                  dropped:
                    type: integer
                    description: Events rejected as unknown or malformed.
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: Event sink feature-disabled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/matches/current:
    get:
      tags: [matches]
      operationId: getCurrentMatch
      summary: Most relevant in-flight match (or null)
      responses:
        "200":
          description: Envelope with the match, `match` null/absent when nothing is open
          content:
            application/json:
              schema:
                type: object
                properties:
                  match: { $ref: "#/components/schemas/SerializedMatch" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/matches/{id}/partner-photos:
    get:
      tags: [matches]
      operationId: getPartnerPhotos
      summary: Signed, short-lived URLs for the partner's photos (cinematic pitch)
      description: |
        The native pitch renders the partner full-screen; Telegram gets the
        same photos as a `protect_content` media group, which has no client
        equivalent here. Deliberately not a field on `SerializedMatch` —
        `/current` is polled, and these are needed once when the pitch opens.

        Entitlement is the existing product rule, not a new one: the caller
        must be a participant of a match that is still live. A cancelled or
        expired match returns 404, because after a decline the pair is banned
        for life and there is nothing left to show.

        URLs expire in 10 minutes and are bound to this caller. The bytes
        endpoint behind them re-checks entitlement on every request, so a URL
        minted before a cancellation stops working with the match.
      parameters:
        - $ref: "#/components/parameters/MatchId"
      responses:
        "200":
          description: Ordered URLs, one per partner photo (may be empty)
          content:
            application/json:
              schema:
                type: object
                required: [urls]
                properties:
                  urls:
                    type: array
                    items: { type: string, format: uri }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: No live match with this id for this caller
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/matches/{id}/calendar:
    get:
      tags: [matches]
      operationId: getMatchCalendar
      summary: Slot grid and both sides' marks
      description: |
        PRODUCT_SPEC §3.6. After mutual accept (and, when the §3.5b gate is
        enabled, after both tickets settle) the server writes a fixed grid of
        instants into the match; each side marks any subset as "I'm free".

        The JWT twin of the `initData`-authed `/v1/calendar/*` used by the
        Telegram Mini App. The mechanics behind both are the same functions —
        auto-lock on a single overlap, `overlapCandidates` on several, the
        first-mover notification — so the two surfaces cannot drift on the one
        question that matters here, which is when a date locks in.

        Poll this while the screen is open (~4s, like the Mini App) so the
        partner's marks land live.
      parameters:
        - $ref: "#/components/parameters/MatchId"
      responses:
        "200":
          description: The grid
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CalendarState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a participant of this match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: No such match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: |
            The calendar is closed for this match (cancelled, expired, or past
            the venue step). Deliberately not a 404 — the match exists and the
            caller is on it.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: Calendar not ready (bot API unavailable)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    post:
      tags: [matches]
      operationId: submitMatchCalendarSlots
      summary: Replace this side's availability
      description: |
        `slots` is the FULL set for this side, not a delta, so unmarking needs
        no second verb. Every entry must be one of `proposedTimes`; anything
        else is a 400 rather than silently dropped.

        The response is the new state, so no re-fetch is needed — at a 4s poll
        that round trip is the difference between a tap landing and a tap
        appearing to do nothing.

        Three outcomes, decided server-side:

        - **one shared slot** — the date locks immediately and `agreedTime` is
          set. Nothing is asked of either side.
        - **several shared slots** — `overlapCandidates` is returned and
          NOTHING is locked. The actor picks the final one and re-submits it
          alone. Initiator offers, responder decides: earliest-wins would
          quietly take the choice away from the person who was offered it.
        - **none** — the partner is told this side proposed times.
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slots]
              properties:
                slots:
                  type: array
                  maxItems: 200
                  items: { type: string, format: date-time }
      responses:
        "200":
          description: Saved; the new state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CalendarState" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a participant of this match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: No such match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: The calendar is closed for this match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: Calendar not ready (bot API unavailable)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/matches/{id}/chat:
    get:
      tags: [matches]
      operationId: getProxyChat
      summary: Anonymous pre-date chat — window state and messages
      description: |
        PRODUCT_SPEC §Phase 4 (Variant C). The narrow, deliberately-scoped
        exception to NO IN-APP CHAT: an already-matched, already-scheduled pair
        gets a text-only relay that opens at T-30m and auto-closes at T+2h, so
        they can find each other at the venue. It is not conversation, and it
        is not reopened general user-to-user chat.

        The JWT twin of the Telegram relay in `handlers/date/coordination.ts`.
        Both call the same `services/proxy-chat.ts`, so neither surface can
        drift on when the window is open, what is logged, or what the partner
        receives.

        **This read succeeds whether or not the window is open**, because the
        client has to render "the chat opens at 19:30" before it opens and
        "the chat has closed" after — a 409 there would leave it with nothing
        to say. `open` is the only thing that gates sending.

        Poll ~4s while the screen is open, like the calendar. Pass `since` with
        the id of the newest message already held to get only what is new;
        omit it for the whole window.

        404 while `COORDINATION_FEATURE_ENABLED` is off, matching the Mini App
        routes — the feature does not exist rather than being empty.
      parameters:
        - $ref: "#/components/parameters/MatchId"
        - name: since
          in: query
          required: false
          schema: { type: string }
          description: |
            Id of the newest message the client already has; only newer ones
            are returned. An id this match does not carry is NOT an error —
            the whole window comes back, because the alternative is a client
            stuck with a cursor it can never advance.
      responses:
        "200":
          description: Window state and messages
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProxyChatState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a participant of this match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: No such match, or the coordination feature is off
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: |
            The match is not a scheduled date, so there is no window to
            describe. Deliberately not a 404 — the match exists and the caller
            is on it.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    post:
      tags: [matches]
      operationId: sendProxyChatMessage
      summary: Relay one text message to the partner
      description: |
        Text only. Media is refused rather than stripped: the window exists to
        say "I'm by the window on the left", and a photo carries a face and
        EXIF the pair has not agreed to exchange — that is the leak this
        variant is scoped to avoid.

        Every relayed message is written to `proxy_messages` before delivery.
        That log is the justification for the carve-out to NO IN-APP CHAT, so
        it is not optional and not sampled.

        The response is the new state, so a send needs no follow-up read — at a
        4s poll that round trip is the difference between a message appearing
        instantly and appearing to be swallowed.

        Delivery follows the partner's own rail: a Telegram DM, an APNs push,
        or both for a `both`-platform account. A partner who cannot be reached
        does NOT fail the send — the message is logged and shown, and they see
        it when they open the chat.
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  minLength: 1
                  maxLength: 1000
                  description: |
                    Trimmed server-side; empty after trimming is a 400. The
                    ceiling mirrors `PROXY_MAX_MESSAGE_LEN` and is served back
                    as `maxMessageLength` so the client never hard-codes it.
      responses:
        "200":
          description: Relayed; the new state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProxyChatState" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a participant of this match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: No such match, or the coordination feature is off
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: |
            The window is not open — it has not reached T-30m, it closed at
            T+2h, or this match is not a scheduled date. The client should
            re-read the state rather than retry the send.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/matches/{id}/ticket-gate:
    get:
      tags: [matches]
      operationId: getTicketGate
      summary: Date Ticket gate state for this side
      description: |
        PRODUCT_SPEC §3.5b. Between mutual accept and the Calendar sits an
        optional paid step; `SerializedMatch.ticketGate` says whether this side
        owes it, and this endpoint is the screen behind it.

        **The wallet is the only rail on iOS.** On Telegram the gate is charged
        directly in Stars, per scope. An App Store consumable is a fixed-price
        SKU, so a per-scope charge would need a product per scope and another
        per discount state, each created by hand in App Store Connect and
        impossible to re-price server-side. StoreKit therefore only credits the
        wallet (`POST /v1/tickets/appstore/transaction`), and the gate only
        spends from it — every gate action is expressible with the three
        consumables that already exist, and a settle that loses its race
        refunds a ticket rather than a dollar. The famine single-ticket
        discount is USD-only and does not apply here, the same way it never
        applied to Stars.

        Fetching this also fires the cover read-receipt when the caller is the
        covered side, which releases the Calendar the server held back for
        exactly that moment. `POST /seen` exists for clients that want to stamp
        it after the reveal animation instead.
      parameters:
        - $ref: "#/components/parameters/MatchId"
      responses:
        "200":
          description: Gate state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TicketGateState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a participant of this match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Tickets disabled, or no such match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: Gate not ready (bot API unavailable)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/matches/{id}/ticket-gate/use:
    post:
      tags: [matches]
      operationId: useTicketForGate
      summary: Spend wallet ticket(s) on this gate
      description: |
        Settles one or both slots from the caller's wallet balance and returns
        the new gate state (no re-fetch needed).

        `partner` and `both` are male-only; the rule is enforced here and
        surfaced as `canCoverPartner` so the client never encodes it. A `both`
        spend that only manages to claim one slot — because the partner paid in
        the meantime — refunds the surplus ticket instead of burning it.
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scope]
              properties:
                scope:
                  type: string
                  enum: [self, partner, both]
      responses:
        "200":
          description: Settled; the new state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TicketGateState" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a participant, or scope not allowed for this caller
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Tickets disabled, or no such match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: Not enough tickets in the wallet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/matches/{id}/ticket-gate/seen:
    post:
      tags: [matches]
      operationId: markTicketRevealSeen
      summary: Read-receipt for the "your match covered you" reveal
      description: |
        Idempotent. Stamps the receipt, tells the payer once that his gesture
        landed, and releases the covered side's Calendar. Safe to call even
        when the caller was not covered — it is then a no-op.
      parameters:
        - $ref: "#/components/parameters/MatchId"
      responses:
        "200":
          description: Receipted (or already was)
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: { type: boolean, const: true }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Tickets disabled, or no such match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/matches/{id}/decision-intent:
    post:
      tags: [matches]
      operationId: classifyDecisionIntent
      summary: Classify a free-text answer to the pitch question
      description: |
        The кино-питч's conversational decision. Server-side keyword
        fast-path + LLM fallback (same logic as the Telegram surface).
        Text NEVER commits — show the guarded confirm card for `yes`/`no`,
        a no-rush nudge for `unsure`, treat `other` as ordinary chat; the
        commit stays POST /decision behind an explicit tap.
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 1, maxLength: 1000 }
      responses:
        "200":
          description: Classified intent
          content:
            application/json:
              schema:
                type: object
                required: [intent]
                properties:
                  intent:
                    type: string
                    enum: [yes, no, unsure, other]
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Match not found, not a participant, already decided, or not proposed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/matches/{id}/decision:
    post:
      tags: [matches]
      operationId: submitMatchDecision
      summary: Accept or decline the proposed match (blind, irreversible)
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision:
                  type: string
                  enum: [accept, decline]
      responses:
        "200":
          description: Reloaded match state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SerializedMatch" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Match not found or not actionable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/matches/{id}/vibe-location:
    post:
      tags: [matches]
      operationId: submitVibeLocation
      summary: Submit the venue vibe + departure pin
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vibe, lat, lng]
              properties:
                vibe:
                  type: string
                  enum: [coffee, walk, drinks, study]
                lat: { type: number, minimum: -90, maximum: 90 }
                lng: { type: number, minimum: -180, maximum: 180 }
      responses:
        "200":
          description: Reloaded match state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SerializedMatch" }
        "400":
          description: Invalid payload, or the departure pin is outside the caller's market
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/VenueOriginOutsideMarket"
                  - $ref: "#/components/schemas/Error"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: Match not in a negotiating state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/matches/{id}/venue-intent:
    get:
      tags: [matches]
      operationId: getVenueIntent
      summary: Get this user's Venue Intent V2 draft or confirmation
      description: Never returns the partner's facets; only a submitted boolean.
      parameters:
        - $ref: "#/components/parameters/MatchId"
      responses:
        "200":
          description: Own intent, smart suggestions, and partner submission state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VenueIntentState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [matches]
      operationId: confirmVenueIntent
      summary: Confirm edited canonical chips and departure origin atomically
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VenueIntentConfirmation" }
      responses:
        "200":
          description: Confirmed state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VenueIntentState" }
        "400":
          description: Invalid payload, or the departure pin is outside the caller's market
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/VenueOriginOutsideMarket"
                  - $ref: "#/components/schemas/Error"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/matches/{id}/venue-intent/interpret:
    post:
      tags: [matches]
      operationId: interpretVenueIntent
      summary: Interpret free text once and persist a recoverable draft
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, minLength: 1, maxLength: 500 }
                origin: { $ref: "#/components/schemas/VenueOrigin" }
      responses:
        "200":
          description: Canonical draft; empty chips mean manual confirmation is required
          content:
            application/json:
              schema:
                type: object
                required: [intent]
                properties:
                  intent: { $ref: "#/components/schemas/VenueIntentV2" }
        "400":
          description: Invalid payload, or the departure pin is outside the caller's market
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/VenueOriginOutsideMarket"
                  - $ref: "#/components/schemas/Error"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/matches/{id}/safety-ack:
    post:
      tags: [matches]
      operationId: acknowledgeSafetyBrief
      summary: Acknowledge the pre-date safety brief
      parameters:
        - $ref: "#/components/parameters/MatchId"
      responses:
        "200":
          description: Reloaded match state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SerializedMatch" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/matches/{id}/cancel:
    post:
      tags: [matches]
      operationId: cancelDate
      summary: Emergency-cancel a scheduled date
      description: |
        Irreversible: the pair is never re-matched (the lifetime pair ban of
        §3.2 filter 6 applies to any row that ever existed). Both sides' paid
        Date Tickets are returned to their wallets — including the canceller's,
        because the penalty for flaking is already Elo, and charging on top
        would make an honest cancellation more expensive than a silent no-show.

        `reason` is **mandatory and forwarded to the partner verbatim**. That is
        a product rule rather than a validation detail: the person it lands on
        is owed the actual sentence, not a system notice. The two-step
        confirmation lives in the client — the server does not enforce one,
        because a guard the caller can skip is not a guard, and the
        irreversible step is this request.
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 1, maxLength: 1000 }
      responses:
        "200":
          description: Date cancelled
          content:
            application/json:
              schema:
                type: object
                required: [ok, ticketsRefunded]
                properties:
                  ok: { type: boolean }
                  ticketsRefunded:
                    type: integer
                    description: Tickets returned to THIS caller's wallet.
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a participant of this match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: |
            Not a scheduled date — already cancelled, or never got that far.
            409 rather than 404: the match exists and the caller is on it.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413":
          description: Reason too long
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/matches/{id}/report:
    post:
      tags: [matches]
      operationId: reportMatch
      summary: File a post-match report (LLM-triaged into tiers)
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [category, message]
              properties:
                category:
                  type: string
                  enum: [tier1_disappointment, tier2_ghosting, tier3_safety]
                message: { type: string, minLength: 1, maxLength: 1000 }
      responses:
        "204": { description: Report recorded }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a participant of this match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: Already reported
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413":
          description: Message too long
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/matches/{id}/block:
    post:
      tags: [matches]
      operationId: blockMatchPartner
      summary: Block the partner of this match
[...]
