openapi: 3.1.0
info:
  title: Gennety Public API (mobile surface)
  version: 1.0.0
  description: |
    Contract for the native mobile client (Gennety-iOS). Covers the JWT-authed
    `/v1/*` surface the MVP client consumes. Source of truth for shapes is the
    route code in `apps/bot/src/public/` — this spec MUST be updated in the
    same commit as any change to those routes (see AGENTS.md documentation
    impact check). The Swift client is generated from this file
    (`swift-openapi-generator` in the Gennety-iOS repo).

    Endpoints authed with Telegram `initData` HMAC (calendar, tickets,
    venue-change, feedback, telegram-onboarding) are intentionally NOT here —
    they are Mini App-only. Mobile variants will be added as they are built.
  contact:
    name: Gennety Dating

servers:
  - url: https://dating-api.gennety.com
    description: Production

tags:
  - name: system
  - name: auth
  - name: me
  - name: onboarding
  - name: chat
  - name: matches
  - name: countdown

security:
  - bearerAuth: []

paths:
  /v1/ping:
    get:
      tags: [system]
      operationId: ping
      summary: Liveness probe
      security: []
      responses:
        "200":
          description: Server is alive
          content:
            application/json:
              schema:
                type: object
                required: [ok, now]
                properties:
                  ok: { type: boolean, const: true }
                  now: { type: string, format: date-time }

  /v1/app/config:
    get:
      tags: [system]
      operationId: getAppConfig
      summary: Pre-auth mobile bootstrap — forced-update kill switch + feature flags
      description: |
        Unauthenticated by design: the client must learn "update required"
        before it can log in. `minSupportedIosVersion` null → no forced update.
      security: []
      responses:
        "200":
          description: Client bootstrap payload
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AppConfig" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/auth/otp/request:
    post:
      tags: [auth]
      operationId: requestEmailOtp
      summary: Send a one-time code to a university email (student track)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: OTP sent
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: Email provider failure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/auth/otp/verify:
    post:
      tags: [auth]
      operationId: verifyEmailOtp
      summary: Verify the emailed code and mint tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, otp]
              properties:
                email: { type: string, format: email }
                otp:
                  type: string
                  pattern: "^\\d{4,8}$"
      responses:
        "200":
          description: Tokens + serialized user
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthTokens" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: Code mismatch
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/auth/refresh:
    post:
      tags: [auth]
      operationId: refreshTokens
      summary: Rotate the refresh token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        "200":
          description: Fresh token pair (no user payload)
          content:
            application/json:
              schema:
                type: object
                required: [accessToken, refreshToken, expiresIn]
                properties:
                  accessToken: { type: string }
                  refreshToken: { type: string }
                  expiresIn: { type: integer, description: Access TTL in seconds }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401":
          description: Invalid or expired refresh token
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/me:
    get:
      tags: [me]
      operationId: getMe
      summary: Current user + profile
      responses:
        "200":
          description: User with optional profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [me]
      operationId: patchMe
      summary: Edit the mutable profile slice
      description: |
        Editable: `major` (user); `hobbies`, `partnerPreferences`,
        `psychologicalSummary`, `ageRangeMin`, `ageRangeMax` (profile, nested
        under `profile`). Fixed identity fields are silently ignored.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                major: { type: [string, "null"], maxLength: 120 }
                profile:
                  type: object
                  properties:
                    hobbies:
                      type: [array, "null"]
                      maxItems: 10
                      items: { type: string, maxLength: 50 }
                    partnerPreferences: { type: [string, "null"] }
                    psychologicalSummary: { type: [string, "null"] }
                    ageRangeMin: { type: [integer, "null"] }
                    ageRangeMax: { type: [integer, "null"] }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [me]
      operationId: deleteAccount
      summary: GDPR account deletion (storage erasure + relational cascade)
      responses:
        "204": { description: Account deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "503":
          description: Storage cleanup unavailable — account preserved, retry
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/location:
    post:
      tags: [me]
      operationId: setRawLocation
      summary: Persist raw home-base coordinates (Meet-Halfway baseline)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [latitude, longitude]
              properties:
                latitude: { type: number, minimum: -90, maximum: 90 }
                longitude: { type: number, minimum: -180, maximum: 180 }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/home-location:
    post:
      tags: [me]
      operationId: setHomeLocation
      summary: Persist the canonical dating city (matching eligibility gate)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [homeCity, homeCountryCode, latitude, longitude]
              properties:
                homeCity: { type: string, maxLength: 120 }
                homeCountryCode:
                  type: string
                  pattern: "^[A-Za-z]{2,8}$"
                homeCityKey:
                  type: string
                  maxLength: 160
                  description: Optional — server derives `cc:city-slug` when absent
                homePlaceId: { type: [string, "null"], maxLength: 256 }
                latitude: { type: number, minimum: -90, maximum: 90 }
                longitude: { type: number, minimum: -180, maximum: 180 }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/preferences:
    patch:
      tags: [me]
      operationId: patchPreferences
      summary: Update match radius preference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [matchRadius]
              properties:
                matchRadius: { $ref: "#/components/schemas/MatchRadius" }
      responses:
        "200":
          description: Updated user + profile
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MeResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/push-token:
    post:
      tags: [me]
      operationId: registerPushToken
      summary: Register the device push token
      description: |
        One token per user row; silent overwrite on re-registration.
        `platform` currently defaults to `expo`; the iOS client sends `apns`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
                platform:
                  type: string
                  maxLength: 16
                  default: expo
                  examples: [apns]
      responses:
        "200":
          description: Registered
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Ok" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/verification:
    get:
      tags: [me]
      operationId: getVerificationStatus
      summary: Read-only verification status
      responses:
        "200":
          description: Current status
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: { $ref: "#/components/schemas/VerificationStatus" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/me/verification/url:
    get:
      tags: [me]
      operationId: getVerificationUrl
      summary: Mint the Persona hosted-flow URL (marks status pending)
      responses:
        "200":
          description: Hosted flow URL bound to this user
          content:
            application/json:
              schema:
                type: object
                required: [url, referenceId]
                properties:
                  url: { type: string, format: uri }
                  referenceId: { type: string, format: uuid }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Already verified
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503":
          description: Persona not configured
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/photos:
    get:
      tags: [me]
      operationId: listPhotos
      summary: Ordered profile photo paths + signed render URLs (10-min TTL)
      responses:
        "200":
          description: Photo list
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotosResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [me]
      operationId: uploadPhoto
      summary: Upload one profile photo (multipart field `photo`, ≤8 MB)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [photo]
              properties:
                photo:
                  type: string
                  format: binary
      responses:
        "201":
          description: Accepted and committed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotoUploadResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: Photo limit reached or duplicate
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413":
          description: File too large
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: Validation rejection (no face, obscured, identity mismatch, unsafe)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotoRejection" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: Storage/vision unavailable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: Validation temporarily unavailable — retry
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/me/photos/{index}:
    delete:
      tags: [me]
      operationId: deletePhoto
      summary: Remove a photo by array index
      parameters:
        - name: index
          in: path
          required: true
          schema: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Remaining photos
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhotosResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Active users cannot drop below the minimum photo count
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/onboarding/consent:
    post:
      tags: [onboarding]
      operationId: recordConsent
      summary: Record ToS acceptance (+ optional research opt-in)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [termsAccepted]
              properties:
                termsAccepted: { type: boolean, const: true }
                researchOptIn: { type: boolean, default: false }
      responses:
        "200":
          description: Updated user
          content:
            application/json:
              schema:
                type: object
                required: [user]
                properties:
                  user: { $ref: "#/components/schemas/SerializedUser" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/onboarding/interview:
    get:
      tags: [onboarding]
      operationId: getInterviewState
      summary: Resume the server-owned conversational onboarding
      responses:
        "200":
          description: Current interview state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InterviewState" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/onboarding/interview/answer:
    post:
      tags: [onboarding]
      operationId: answerInterview
      summary: Send a text answer to the onboarding collector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text: { type: string, maxLength: 4000 }
      responses:
        "200":
          description: Next interview state (with the agent's reply as `question`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InterviewState" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: Terms not accepted or language not selected yet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/onboarding/interview/voice:
    post:
      tags: [onboarding]
      operationId: answerInterviewVoice
      summary: Send a voice answer (multipart field `file`, transcribed server-side)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Next interview state; `acknowledgement` carries the transcript
          content:
            application/json:
              schema: { $ref: "#/components/schemas/InterviewState" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: Terms not accepted or language not selected yet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: Transcription failed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/chat/upload:
    post:
      tags: [chat]
      operationId: uploadChatImage
      summary: Upload a chat image (multipart field `image`, ≤8 MB)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
      responses:
        "201":
          description: Opaque storage path + signed render URL (5-min TTL)
          content:
            application/json:
              schema:
                type: object
                required: [imageUrl, signedUrl]
                properties:
                  imageUrl: { type: string }
                  signedUrl: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "413":
          description: File too large
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: Storage unavailable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/chat/message:
    post:
      tags: [chat]
      operationId: sendChatMessage
      summary: Send a chat turn (text and/or previously uploaded image)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text: { type: string, maxLength: 4000 }
                imageUrl:
                  type: string
                  description: Path returned by /v1/chat/upload; must be owned by the caller
      responses:
        "200":
          description: Assistant reply
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message: { $ref: "#/components/schemas/ChatMessage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Image not owned by caller
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413":
          description: Text too long
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /v1/chat/history:
    get:
      tags: [chat]
      operationId: getChatHistory
      summary: Oldest-first history slice for hydrating the chat view
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: Messages with fresh signed image URLs
          content:
            application/json:
              schema:
                type: object
                required: [messages]
                properties:
                  messages:
                    type: array
                    items: { $ref: "#/components/schemas/ChatHistoryMessage" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/matches/current:
    get:
      tags: [matches]
      operationId: getCurrentMatch
      summary: Most relevant in-flight match (or null)
      responses:
        "200":
          description: Serialized match, or JSON `null` when nothing is open
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/SerializedMatch"
                  - type: "null"
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/matches/{id}/decision:
    post:
      tags: [matches]
      operationId: submitMatchDecision
      summary: Accept or decline the proposed match (blind, irreversible)
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision:
                  type: string
                  enum: [accept, decline]
      responses:
        "200":
          description: Reloaded match state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SerializedMatch" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404":
          description: Match not found or not actionable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/matches/{id}/vibe-location:
    post:
      tags: [matches]
      operationId: submitVibeLocation
      summary: Submit the venue vibe + departure pin
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vibe, lat, lng]
              properties:
                vibe:
                  type: string
                  enum: [coffee, walk, drinks, study]
                lat: { type: number, minimum: -90, maximum: 90 }
                lng: { type: number, minimum: -180, maximum: 180 }
      responses:
        "200":
          description: Reloaded match state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SerializedMatch" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409":
          description: Match not in a negotiating state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/matches/{id}/safety-ack:
    post:
      tags: [matches]
      operationId: acknowledgeSafetyBrief
      summary: Acknowledge the pre-date safety brief
      parameters:
        - $ref: "#/components/parameters/MatchId"
      responses:
        "200":
          description: Reloaded match state
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SerializedMatch" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/matches/{id}/report:
    post:
      tags: [matches]
      operationId: reportMatch
      summary: File a post-match report (LLM-triaged into tiers)
      parameters:
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [category, message]
              properties:
                category:
                  type: string
                  enum: [tier1_disappointment, tier2_ghosting, tier3_safety]
                message: { type: string, minLength: 1, maxLength: 1000 }
      responses:
        "204": { description: Report recorded }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Not a participant of this match
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: Already reported
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413":
          description: Message too long
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/countdown:
    get:
      tags: [countdown]
      operationId: getCountdown
      summary: Next weekly drop + per-user weekly status
      responses:
        "200":
          description: Countdown snapshot
          content:
            application/json:
              schema:
                type: object
                required: [nextDropAt, serverNow, weeklyStatus, standbyCount, priorityBoosted, resolvedAt]
                properties:
                  nextDropAt: { type: string, format: date-time }
                  serverNow:
                    type: string
                    format: date-time
                    description: Server clock for client skew correction
                  weeklyStatus:
                    type: string
                    enum: [matched, standby, pending]
                  standbyCount: { type: integer }
                  priorityBoosted: { type: boolean }
                  resolvedAt:
                    type: [string, "null"]
                    format: date-time
        "401": { $ref: "#/components/responses/Unauthorized" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: HS256 access token from /v1/auth/otp/verify or /v1/auth/refresh

  parameters:
    MatchId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    BadRequest:
      description: Invalid payload
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthorized:
      description: Missing/invalid access token
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Ok:
      type: object
      required: [ok]
      properties:
        ok: { type: boolean, const: true }

    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
      additionalProperties: true

    AppConfig:
      type: object
      required: [minSupportedIosVersion, features, serverNow]
      properties:
        minSupportedIosVersion:
          type: [string, "null"]
          description: Semver floor; a lower client build must block behind an update screen
        features:
          type: object
          required: [phoneAuth, tickets, coordination]
          properties:
            phoneAuth: { type: boolean }
            tickets: { type: boolean }
            coordination: { type: boolean }
        serverNow: { type: string, format: date-time }

    Language:
      type: string
      enum: [en, ru, uk, de, pl]

    UserStatus:
      type: string
      enum: [onboarding, active, paused, frozen, suspended, pending_investigation, banned]

    OnboardingStep:
      type: string
      enum: [consent, language, conversational, completed]

    Gender:
      type: string
      enum: [male, female]

    GenderPreference:
      type: string
      enum: [men, women, both]

    MatchRadius:
      type: string
      enum: [campus_only, citywide]

    VerificationStatus:
      type: string
      enum: [unverified, pending, pending_review, verified, rejected]

    MatchStatus:
      type: string
      enum: [proposed, negotiating, negotiating_venue, scheduled, cancelled, completed, expired]

    SerializedUser:
      type: object
      description: Mirrors `serializeUser` in `public/routes/serializers.ts`
      required:
        [id, email, universityDomain, firstName, surname, age, gender, preference,
         major, language, status, onboardingStep, termsAccepted, researchOptIn]
      properties:
        id: { type: string, format: uuid }
        email: { type: [string, "null"] }
        universityDomain: { type: [string, "null"] }
        firstName: { type: [string, "null"] }
        surname: { type: [string, "null"] }
        age: { type: [integer, "null"] }
        gender:
          oneOf:
            - $ref: "#/components/schemas/Gender"
            - type: "null"
        preference:
          oneOf:
            - $ref: "#/components/schemas/GenderPreference"
            - type: "null"
        major: { type: [string, "null"] }
        language:
          oneOf:
            - $ref: "#/components/schemas/Language"
            - type: "null"
        status: { $ref: "#/components/schemas/UserStatus" }
        onboardingStep: { $ref: "#/components/schemas/OnboardingStep" }
        termsAccepted: { type: boolean }
        researchOptIn: { type: boolean }

    SerializedProfile:
      type: object
      description: Mirrors `serializeProfile` in `public/routes/serializers.ts`
      required:
        [hobbies, partnerPreferences, psychologicalSummary, ageRangeMin, ageRangeMax,
         photos, matchRadius, standbyCount, latitude, longitude, locationUpdatedAt,
         homeCity, homeCountryCode, homeCityKey, homePlaceId]
      properties:
        hobbies:
          type: array
          items: { type: string }
        partnerPreferences: { type: [string, "null"] }
        psychologicalSummary: { type: [string, "null"] }
        ageRangeMin: { type: [integer, "null"] }
        ageRangeMax: { type: [integer, "null"] }
        photos:
          type: array
          items: { type: string }
          description: Opaque storage paths — render via signed URLs from /v1/me/photos
        matchRadius: { $ref: "#/components/schemas/MatchRadius" }
        standbyCount: { type: integer }
        latitude: { type: [number, "null"] }
        longitude: { type: [number, "null"] }
        locationUpdatedAt: { type: [string, "null"], format: date-time }
        homeCity: { type: [string, "null"] }
        homeCountryCode: { type: [string, "null"] }
        homeCityKey: { type: [string, "null"] }
        homePlaceId: { type: [string, "null"] }

    MeResponse:
      type: object
      required: [user, profile]
      properties:
        user: { $ref: "#/components/schemas/SerializedUser" }
        profile:
          oneOf:
            - $ref: "#/components/schemas/SerializedProfile"
            - type: "null"

    AuthTokens:
      type: object
      required: [accessToken, refreshToken, expiresIn, user]
      properties:
        accessToken: { type: string }
        refreshToken: { type: string }
        expiresIn: { type: integer, description: Access TTL in seconds }
        user: { $ref: "#/components/schemas/SerializedUser" }

    InterviewState:
      type: object
      description: Mirrors `InterviewStateDto` in `public/routes/onboarding-state.ts`
      required: [stepIndex, totalSteps, question, completed, messages, expectingPhoto, photoCount, minPhotos]
      properties:
        stepIndex: { type: integer }
        totalSteps: { type: integer }
        question: { type: [string, "null"] }
        completed: { type: boolean }
        acknowledgement:
          type: [string, "null"]
          description: Voice answers only — the Whisper transcript
        messages:
          type: array
          items:
            type: object
            required: [role, content]
            properties:
              role:
                type: string
                enum: [user, assistant]
              content: { type: string }
        expectingPhoto: { type: boolean }
        photoCount: { type: integer }
        minPhotos: { type: integer }

    ChatMessage:
      type: object
      required: [id, role, content, imageUrl, createdAt]
      properties:
        id: { type: string }
        role:
          type: string
          enum: [user, assistant, system]
        content: { type: [string, "null"] }
        imageUrl: { type: [string, "null"] }
        createdAt: { type: string, format: date-time }

    ChatHistoryMessage:
      allOf:
        - $ref: "#/components/schemas/ChatMessage"
        - type: object
          required: [signedImageUrl]
          properties:
            signedImageUrl:
              type: [string, "null"]
              description: 5-min TTL render URL; empty string when signing failed

    PhotosResponse:
      type: object
      required: [photos, signedUrls]
      properties:
        photos:
          type: array
          items: { type: string }
        signedUrls:
          type: array
          items: { type: string }
          description: 1:1 with `photos`; empty string when signing unavailable

    PhotoConsensus:
      type: object
      required: [status, acceptedCount, pendingCount, rejectedCount, message]
      properties:
        status:
          type: string
          enum: [accepted, pending, capped, confirmed]
        acceptedCount: { type: integer }
        pendingCount: { type: integer }
        rejectedCount: { type: integer }
        message: { type: string, description: Localized user-facing line }

    PhotoUploadResponse:
      allOf:
        - $ref: "#/components/schemas/PhotosResponse"
        - type: object
          required: [photoConsensus, interviewState]
          properties:
            photoConsensus: { $ref: "#/components/schemas/PhotoConsensus" }
            interviewState:
              oneOf:
                - $ref: "#/components/schemas/InterviewState"
                - type: "null"
              description: Present only during onboarding (agent advanced after the upload)

    PhotoRejection:
      type: object
      required: [error, code, retryable]
      properties:
        error: { type: string }
        code:
          type: string
          description: Machine-readable rejection reason
          examples: [no_face, face_obscured, duplicate_near, unsafe_content, identity_mismatch]
        retryable: { type: boolean }

    SerializedMatch:
      type: object
      description: Mirrors `SerializedMatch` in `public/matches-service.ts`
      required:
        [id, status, pitchForMe, iceBreakers, wingmanHint, synergyScore, synergyReason,
         agreedTime, venueName, venueAddress, venueLat, venueLng, venueCategory,
         mapPreviewUrl, transitHint, partnerFirstName, partnerAge,
         partnerUniversityDomain, myVibeSubmitted, partnerVibeSubmitted,
         safetyBriefAck, proposalDeadlineAt, serverTimeAt]
      properties:
        id: { type: string, format: uuid }
        status: { $ref: "#/components/schemas/MatchStatus" }
        pitchForMe: { type: [string, "null"] }
        iceBreakers:
          type: array
          items: { type: string }
        wingmanHint:
          type: [string, "null"]
          description: null until T-1.5h before agreedTime (server-gated reveal)
        synergyScore:
          type: [integer, "null"]
          minimum: 70
          maximum: 99
        synergyReason: { type: [string, "null"] }
        agreedTime: { type: [string, "null"], format: date-time }
        venueName: { type: [string, "null"] }
        venueAddress: { type: [string, "null"] }
        venueLat: { type: [number, "null"] }
        venueLng: { type: [number, "null"] }
        venueCategory: { type: [string, "null"] }
        mapPreviewUrl: { type: [string, "null"] }
        transitHint: { type: [string, "null"] }
        partnerFirstName: { type: [string, "null"] }
        partnerAge: { type: [integer, "null"] }
        partnerUniversityDomain: { type: [string, "null"] }
        myVibeSubmitted: { type: boolean }
        partnerVibeSubmitted: { type: boolean }
        safetyBriefAck: { type: boolean }
        proposalDeadlineAt:
          type: [string, "null"]
          format: date-time
          description: 24h decision deadline; only for dispatched `proposed` matches
        serverTimeAt:
          type: string
          format: date-time
          description: Server clock at response time for countdown skew correction
